<div *ngIf="id">
    <form [formGroup]="fm"
          (submit)='$event.stopPropagation()'
          class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <strong>{{ 'user.titleChangePassword' | translate : {name : item.name } }}</strong>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>{{ 'user.password' | translate }}</label>
                        <input type="password"
                               class="form-control"
                               name="password"
                               formControlName="password"
                               placeholder="{{ 'user.password' | translate }}">
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button"
                            (click)="onSubmit()"
                            [disabled]="!fm.valid"
                            class="btn btn-success float-md-right mr-2">{{ 'btn.save' | translate }}</button>
                    <button type="button"
                            [routerLink]="['../../get-list']"
                            class="btn btn-primary float-md-right mr-md-2">{{ 'btn.back' | translate }}</button>
                </div>
            </div>
        </div>
    </form>
</div>