@import 'src/style/mixins';
.scrollTop {
    --size: 32px;
    right: 40px;
    bottom: 112px;
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    z-index: 3;
    display: none;
    @include viewport-md {
        display: none !important;
    }
    @include viewport-sm {
        display: none !important;
    }
    &__icon {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color);
            transform: rotate(45deg);
            box-shadow: 1px 1px 5px #00000057;
            z-index: -1;
        }
        &:hover > i {
            transform: translateY(-4px);
        }
        > i {
            font-size: 18px;
            transition: 0.25s;
        }
    }
}
.social {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 4;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: #222121;
    &__item {
        --size: 32px;
        width: var(--size);
        height: var(--size);
        line-height: var(--size);
        font-size: 16px;
        transition: 0.25s;
        &:hover {
            transform: scale(1.33);
        }
    }
}
