<div *ngIf="!loading">
    <app-header (loading)="eventLoading($event)"></app-header>
    <main style="min-height: calc(100vh - 300px)">
        <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
</div>

<div class="position-fixed scrollTop text-center text-white cursor-pointer">
    <div class="scrollTop__icon position-relative">
        <i class="fal fa-long-arrow-up"></i>
    </div>
</div>

<div class="social d-flex flex-column position-fixed">
    <a class="social__item text-center rounded-circle" *ngIf="('FEHrefFacebook' | translate)!='FEHrefFacebook'"
        target="_blank" rel="noopener" [href]="('FEHrefFacebook' | translate)">
        <i class="fab fa-facebook-f" style="color:#4867aa"></i>
    </a>
    <a class="social__item text-center rounded-circle" *ngIf="('FEHrefLinkedin' | translate)!='FEHrefLinkedin'"
        target="_blank" rel="noopener" [href]="('FEHrefLinkedin' | translate)">
        <i class="fab fa-linkedin-in" style="color:#0077b5"></i>
    </a>
    <a class="social__item text-center rounded-circle" *ngIf="('FEHrefYoutube' | translate)!='FEHrefYoutube'"
        target="_blank" rel="noopener" [href]="('FEHrefYoutube' | translate)">
        <i class="fab fa-youtube" style="color:#fe0000"></i>
    </a>
    <a class="social__item text-center rounded-circle" *ngIf="('FEHrefZalo' | translate) != 'FEHrefZalo'"
        target="_blank" rel="noopener" [href]="'FEHrefZalo' | translate">
        <img src="../../assets/img/zalo.png" width="18" class="mb-1" alt="Zalo">
    </a>
    <a class="social__item text-center rounded-circle" *ngIf="('FEHrefWhatsapp' | translate)!='FEHrefWhatsapp'"
        target="_blank" rel="noopener" [href]="'FEHrefWhatsapp' | translate">
        <i class="fab fa-whatsapp" style="color:#1bd741"></i>
    </a>
    <a class="social__item text-center rounded-circle"
        *ngIf="('FEMail' | translate) !='FEMail' && ('FEMail' | translate) !=''"
        href="mailto:{{ 'FEMail' | translate }}">
        <i class="far fa-envelope" style="color: #339af0"></i>
    </a>
</div>

<div *ngIf="loading" class="d-flex justify-content-center align-items-center vh-100 bg-white">
    <div class="position-relative">
        <img src="./../../assets/img/logo.png" width="120px"
            style="top: 50%; transform: translateY(-50%);right: calc(50% - 50px)" class="position-absolute" />
        <img src="./../../assets/img/loading.gif" width="180px" />
    </div>
</div>