<form class="chips-form-bootrap" [formGroup]="fm" *ngIf="fm" (submit)='$event.stopPropagation()'>
    <div class="card w-100 mb-3">
        <div class="card-header">
            <strong>{{ ((id && id !=0)?'contents.update':'contents.add') | translate : {name : fm.value.name}
                }}</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-6 pr-md-0">
                    <div class="form-group">
                        <label>{{ 'contents.name' | translate }}<span class="ml-2" style="color:red">*</span></label>
                        <input type="text" (keyup)="onChangeLink($event)" class="form-control" name="name"
                            formControlName="name" placeholder="{{ 'contents.name' | translate }}" required>
                        <small style="color:red" *ngIf="required || fm.get('name').invalid && fm.get('name').touched">{{
                            'message.required' | translate }}</small>
                    </div>
                    <div class="form-group">
                        <label>{{ 'lblLink' | translate }}<span class="ml-2" style="color:red">*</span></label>
                        <input type="text" (keyup)="link._keyup($event)" [(ngModel)]="fm.value.link"
                            class="form-control" name="link" formControlName="link" required
                            placeholder="{{ 'lblLink' | translate }}">
                        <small style="color:red" *ngIf="required || fm.get('link').invalid && fm.get('link').touched">{{
                            'message.required' | translate }}</small>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-12 pr-md-0">
                            <div class="form-group">
                                <label>{{ 'lblGroup' | translate }}<span class="ml-2" style="color:red">*</span></label>
                                <div>
                                    <select name="page_id" formControlName="page_id" class="form-control" required>
                                        <option *ngFor="let grcontens of listgroupcontents.data" [value]="grcontens.id">
                                            {{grcontens.name}}</option>
                                    </select>
                                    <small style="color:red"
                                        *ngIf="fm.get('page_id').invalid && fm.get('page_id').touched">{{
                                        'message.required' | translate }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>{{ 'lblOrders' | translate }}</label>
                                <input type="number" class="form-control" name="orders" min="0" formControlName="orders"
                                    placeholder="{{ 'lblOrders' | translate }}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>File</label>
                        <div class="custom-file" *ngIf="file">
                            <div *ngFor="let item of file.data; let i = index">
                                <span (click)="file._change($event,item)" *ngIf="item.type==0 || item.type==1"
                                    class="custom-file-label change">
                                    <label *ngIf="item.type==0 || item.type==1">{{ item.name}}</label>
                                </span>
                                <span (click)="file._del(i)" *ngIf="item.type==0 || item.type==1"
                                    class="custom-file-label del">
                                    <label class="mr-3" *ngIf="item.type==0 || item.type==1">{{ item.name}}</label>
                                    <i class="fas fa-times text-danger"
                                        style="position: absolute;top: -10px;right: 70px;z-index: 99;"></i>
                                </span>
                                <span class="custom-file-label add" for="inputGroupFile04" (click)="file._push($event)"
                                    *ngIf="item.type==2">
                                    chọn file
                                </span>

                            </div>
                            <input type="file" class="custom-file-input" id="inputGroupFile04" accept="application/pdf"
                                (change)="file._onchange($event)">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>{{ 'contents.source' | translate }}</label>
                                <input type="text" class="form-control" name="author" formControlName="author"
                                    placeholder="{{ 'contents.source' | translate }}">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Ngày Đăng</label>
                                <input class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker
                                    formControlName="maker_date" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label>{{ 'lblImages' | translate }}</label>
                        <div class="imagesThumb text-center" *ngIf="images">
                            <div class="w-50" style="height: 80px;" *ngFor="let item of images.data; let i = index">
                                <img [src]="item.src" *ngIf="item.type==0 || item.type==1" />
                                <span (click)="images._change($event,item)" *ngIf="item.type==0 || item.type==1"
                                    class="change">
                                    <i class="far fa-image"></i>
                                </span>
                                <span (click)="images._del(i)" *ngIf="item.type==0 || item.type==1" class="del">
                                    <i class="fas fa-times"></i>
                                </span>
                                <span (click)="images._push($event)" *ngIf="item.type==2" class="add">
                                    <i class="fa fa-plus"></i>
                                </span>
                            </div>
                            <input type="file" (change)="images._onchange($event)" accept="image/png, image/jpeg">
                        </div>
                        <div class="text-center">
                            <small class="d-inline-block">.png / .jpg (300px x 210px)</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{ 'contents.description' | translate }}</label>
                        <textarea type="text" class="form-control" name="description" rows="8"
                            formControlName="description"
                            placeholder="{{ 'contents.description' | translate }}"></textarea>
                    </div>

                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <div class="keywords">
                            <button type="button" class="btn btn-info mr-2" *ngFor="let item of tagsService.dataList">{{
                                item}}
                                <span class="fas fa-times" (click)="tagsService._remove(item)"></span>
                            </button>
                        </div>
                        <label>{{ 'lblKeyword' | translate }}</label>
                        <input type="text" (keyup)="tagsService._keyup($event)" class="form-control" name="keywords"
                            placeholder="{{ 'lblKeyword' | translate }}">

                    </div>
                    <div class="form-group">
                        <label>{{ 'contents.detail' | translate }}</label>
                        <ckeditor id="ckeditorDetail" class="ckeditorDetail" [config]="globals.configCkeditor"
                            data="detail" formControlName="detail">
                        </ckeditor>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <div class="float-left">
                <label class="lable-switch pull-left">
                    <div class="switch">
                        <input formControlName="status" type="checkbox" name="status">
                        <span class="lever"></span>
                    </div>
                    <span ng-bind="lang.lbl_status_on" class="ng-binding">{{ (fm.value.status == 1 ? 'status.on' :
                        'status.off') | translate
                        }}</span>
                </label>
            </div>
            <button type="button" (click)="onSubmit()" class="btn btn-success float-right">{{ 'btn.save'
                | translate }}</button>
            <button type="button" [routerLink]="[(id && id !=0)?'../../get-list':'../get-list']"
                class="btn btn-primary float-right mr-2">{{ 'btn.back'
                | translate }}</button>
        </div>
    </div>
</form>