<div class="bg-light py-4 py-md-5">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="align-items-center d-flex justify-content-between title-page">
                        <h2 class="color font-weight-bold">{{ 'FESearch.title' | translate }}</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb bg-transparent border-0 m-0 p-0">
                                <li class="breadcrumb-item " aria-current="page">
                                    <a [routerLink]="['/']" routerLinkActive="router-link-active">
                                        {{ 'lblHome' | translate }}
                                    </a>
                                </li>
                                <li class="breadcrumb-item active " aria-current="page">
                                    {{ 'FESearch.title' | translate }}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box-white pt-2 pb-3" *ngIf="search.show == 0">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row pt-3">
                <div class="col-12">
                    <h1 class="title-search text-md-center">
                        {{ 'FESearch.titleSearch' | translate }}
                        <span>
                            {{search.name}}
                        </span>
                    </h1>
                </div>
                <div class="col-12 col-md-8 col-lg-9 pt-3 offset-md-2">
                    <h2 class="result-search">{{ 'FESearch.notfound' | translate }}</h2>
                    <p class="m-0">{{ 'FESearch.error' | translate }}</p>
                </div>
            </div>
            <div class="row">
                <div class="input-group pb-4 pt-3 col-md-8 offset-md-2 align-items-center text-inline">
                    <input type="text" class="form-control input-search" (keyup.enter)="searchAgain()"
                        [(ngModel)]="search.name" name="search" placeholder="{{ 'FESearch.search' | translate }}"
                        aria-label="" aria-describedby="button-addon2" id="searchAgain">
                    <span class="cursor-pointer" (click)="searchAgain()">
                        <i class="fas fa-search fa-lg icon-search"></i>
                    </span>
                </div>
                <div class="col-xl-12 text-center">
                    <button type="button" class="btn btn-back" [routerLink]="['/']">
                        {{ 'FEbtn.home' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pt-3 pb-5 " *ngIf="search.show == 1">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 pt-3">
                    <h2 class="tit-search mb-2" style="font-size:22px;">{{ 'FESearch.titleSearch' | translate }}
                        {{ search.name }}
                    </h2>
                    <h5 class="result-search">
                        {{ 'FESearch.amount' | translate : {number : (tableContent.settings.total +
                        tableService.settings.total)} }}
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row pt-4">
                        <!-- <div class="col-md-12 pb-md-5 pb-4" *ngIf="tableService.data && tableService.data.length > 0">
                            <div class="title-border position-relative" id="service-search">
                                <h2 class="mb-0 font-weight-bold text-uppercase d-inline-block">
                                    {{ 'FESearch.service' | translate }}</h2>
                            </div>
                        </div> -->
                        <div class="col-12 col-md-4 mb-4 px-4" *ngFor="let item of tableService.data">
                            <app-box-project [item]="item"></app-box-project>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end"
                        *ngIf="tableService.cached.length > Pagination.itemsPerPage">
                        <pagination [previousText]="'FEbtn.previous' | translate" [nextText]="'FEbtn.next' | translate"
                            [totalItems]="tableService.cached.length" [itemsPerPage]="Pagination.itemsPerPage"
                            [maxSize]="Pagination.maxSize" (pageChanged)="Pagination.changeService($event)"
                            [rotate]="false">
                        </pagination>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="row pt-4">
                        <div class="col-md-12 pb-md-5 pb-4" *ngIf="tableContent.data?.length">
                            <div class="title-border position-relative" id="content-search">
                                <h2 class="mb-0 font-weight-bold text-uppercase d-inline-block" translate>
                                    FESearch.content
                                </h2>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" *ngFor="let item of tableContent.data; let i = index">
                            <app-box-content [item]="item"></app-box-content>
                        </div>
                    </div>
                    <div *ngIf="tableContent.cached.length > Pagination.itemsPerPage"
                        class="d-flex justify-content-end">
                        <pagination [previousText]="'FEbtn.previous' | translate" [nextText]="'FEbtn.next' | translate"
                            [totalItems]="tableContent.cached.length" [itemsPerPage]="Pagination.itemsPerPage"
                            [maxSize]="Pagination.maxSize" (pageChanged)="Pagination.changeContent($event)"
                            [rotate]="false">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>