.tilte {
    font-size: 22px;
    color: #164b97;
    border-bottom: 1px solid;
}

.title-search {
    color: #5c5958;
}

.title-search span {
    font-size: 2.5rem;
}

.result-search {
    font-size: 28px;
}

.icon-search {
    position: absolute;
    right: 33px;
    z-index: 0;
    top: 33px;
    color: #e33223;
}

.input-search {
    height: 50px;
    padding: 5px 55px 5px 20px;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgb(221, 24, 10);
}

.result-search {
    color: #e33223;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem #f44336;
    border: #f44336;
}

.btn-back {
    background: linear-gradient(to bottom, #e63d42, #e00e2f);
    color: white;
    font-weight: 600;
    transition: 0.3s;
}

.btn-back:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

.title-border h2 {
    font-size: 25px;
    background: #fff;
    padding-right: 20px;
    z-index: 2;
    position: relative;
    color: var(--color);
}

.title-border::after {
    background: #e5e5e5;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
}

@media (max-width: 415px) {
    .title-search {
        font-size: 22px;
    }
    .title-search span {
        font-size: 22px;
    }
    .result-search {
        font-size: 17px;
    }
}
