@import 'src/style/mixins';

.menu-item:hover {
    color: var(--color);
}

.menu-sub {
    --width: 25%;
    // --top: 117px;
    // --padding-menu-sub: ;
    // --bg: #1f2b3c;
    display: none;
    position: fixed;
    z-index: 1080;
    top: var(--h-header);
    left: 0;

    height: calc(100vh - var(--h-header));

    // max-width: calc(1140px - 32px);

    &-overplay {
        top: 0;
        left: 0;
        z-index: 1;
    }

    &-container {
        left: 50%;
        transform: translateX(-50%);
        width: 1110px;
        z-index: 2;
    }

    &-inside {
        padding: 25px 16px;
        background-color: #f6f6f6;
        max-width: 768px;
        min-height: 440px;
    }
    &-close {
        font-size: 28px;
        color: #000;
        &:hover {
            color: var(--color);
            // transition: 0.33s linear;
            // transform: rotate(180deg) translate(0);
        }
    }
    &-main {
        // height: calc(100vh - var(--top) - (var(--padding-menu-sub) * 2));
        // height: 407px;
        .zone {
            width: var(--width);
        }
    }
    &-1 {
        // width: var(--width);
        &-name {
            font-size: 24px;
            // color: var(--color);
            color: #000;
        }
    }
    &-2 {
        // width: var(--width);
        overflow-y: auto;
        &:hover::-webkit-scrollbar-thumb {
            background-color: var(--color);
        }

        &::-webkit-scrollbar {
            width: 6px;
            background-color: unset;
            &-thumb {
                border-radius: 8px;
                background-color: var(--bg);
            }
            &-track {
                box-shadow: unset;
                background-color: unset;
            }
        }
        &-name {
            padding: 10px;
            padding-left: 0;
            text-transform: capitalize;
            // color: white;
            font-weight: bold;
            color: #000;
            > i {
                font-size: 24px;
            }
            &:hover {
                color: var(--color);
            }
        }
        > li:hover {
            // .menu-sub-2-name {
            //     color: var(--color);
            // }
            // background-color: var(--color);
            .menu-sub-3 {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    &-3 {
        width: var(--width);
        left: calc(var(--width) * 2);
        visibility: hidden;
        opacity: 0;
        // > li:hover {
        //     background-color: var(--color);
        // }
    }
}
