<div class="menu">
    <nav class="navbar navbar-expand-md p-0">
        <ul class="navbar-nav w-100 align-items-center" *ngIf="menu?.length">
            <li class="d-flex h-100 nav-item align-items-center" *ngFor="let item of menu; index as i; last as last">
                <a class="nav-link pl-3" [ngClass]="last ? 'pr-0' : 'pr-3'" (click)="routerLink(item, false)">
                    <div class="menu-item d-flex align-items-center cursor-pointer text-nowrap">
                        <span class="user-select-none font-weight-bold"
                            [ngClass]="globals.initHeader.state ? 'text-dark' : 'text-white'"
                            [class.color]="globals.initHeader.isActiveLink === item.link || this.globals.initHeader.isActive === +item.id">
                            {{ item.name }}
                        </span>
                        <i class="fas fa-angle-down color ml-2" style="font-size: 18px;" *ngIf="item.data?.length"></i>
                    </div>
                </a>
                <div class="menu-sub w-100" [ngClass]="globals.initHeader.isActive === +item.id && 'd-block'"
                    *ngIf="item.data?.length">
                    <!-- <div class="container-main"> -->
                    <!-- <div class="container-fluid"> -->
                    <div class="position-relative h-100">
                        <div class="menu-sub-overplay position-absolute w-100 h-100" (click)="handleCloseBtn()"></div>
                        <div class="position-absolute menu-sub-container d-flex">
                            <div class="flex-fill" (click)="handleCloseBtn()"></div>
                            <div class="flex-fill w-100 menu-sub-inside" #insideMenu>
                                <ol class="position-relative w-100 list-unstyled menu-sub-main overflow-hidden h-100">
                                    <li class="d-flex h-100">
                                        <div class="w-50">
                                            <div [ngClass]="'menu-sub-' + item.level">
                                                <a class="cursor-pointer font-weight-bold text-decoration-none color"
                                                    (click)="routerLink(item, true)"
                                                    [ngClass]="'menu-sub-' + item.level + '-name'">
                                                    <span *ngIf="!isHiddenLabel">{{
                                                        'lblMenu' | translate }} </span>{{ item.name }}
                                                </a>
                                            </div>
                                            <ol [ngClass]="'list-unstyled menu-sub-' + (item.level + 1)">
                                                <li *ngFor="let row of item.data; index as i">
                                                    <a (click)="routerLink(row, true)"
                                                        [ngClass]="'menu-sub-' + (item.level + 1) + '-name'"
                                                        class="d-flex justify-content-between align-items-center text-decoration-none cursor-pointer">
                                                        <span>{{ row.name.toLowerCase() }}</span>
                                                        <i *ngIf="row.data.length > 0" class="fal fa-angle-right"></i>
                                                    </a>
                                                    <ol class="menu-sub-3 list-unstyled position-absolute"
                                                        [style.top.px]="row.data ? (i * 44 + 36) : 0">
                                                        <li *ngFor="let e of row.data">
                                                            <a class="menu-sub-2-name d-block px-4 text-capitalize text-decoration-none cursor-pointer"
                                                                (click)="routerLink(e)">{{ e.name.toLowerCase() }}</a>
                                                        </li>
                                                    </ol>
                                                </li>
                                            </ol>
                                        </div>
                                        <div class="w-25"></div>
                                        <div class="zone d-flex flex-column justify-content-between align-items-end">
                                            <i (click)="handleCloseBtn()"
                                                class="fal fa-times menu-sub-close cursor-pointer d-block"></i>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                    <!-- </div> -->
                </div>
            </li>
        </ul>
    </nav>
</div>