<figure class="box-content mb-4 bg-white">
    <div class="box-content-img">
        <a class="nav-link p-0 h-100"
            [routerLink]="['/' + globals.language.getCode() + '/'+ item.parent_links +'/'+ item.parent_link+ '/' +item.link]">
            <img class="w-100 h-100" [defaultImage]="'../../../../assets/img/default.jpg'" [lazyLoad]="item.images"
                [alt]="item.name" />
        </a>
    </div>
    <div class="box-content-body">
        <div class="d-inline-block justify-content-between box-view mb-2 mb-md-3">
            <span class="mr-3">
                <i class="fal fa-calendar-alt mr-1"></i>
                {{ item.maker_date }}
            </span>
            <span class="mr-3">
                <i class="fal fa-eye mr-1"></i>
                {{ item.views }}
            </span>
            <span>
                <i class="fal fa-folder-open mr-1"></i>
                {{ item.page_name }}
            </span>
        </div>
        <a [routerLink]="['/' + globals.language.getCode() + '/'+ item.parent_links +'/'+ item.parent_link+ '/' +item.link]"
            class="nav-link text-body p-0">
            <h5 class="title mb-2 mb-md-3">{{ item.name }}</h5>
        </a>
        <p class="description text-secondary mb-0 mb-md-3">{{ item.description }}</p>
        <button role="button" class="btn btn-link color px-0 py-1"
            [routerLink]="['/' + globals.language.getCode() + '/'+ item.parent_links +'/'+ item.parent_link+ '/' +item.link]">
            <span class="mr-2">{{ 'FEbtn.more' | translate }}</span>
            <i class="fal fa-long-arrow-right text-danger"></i>
        </button>
    </div>
</figure>