@import "src/style/mixins";

@mixin content($line, $height, $fontSize) {
    @include line-clamp($line);
    min-height: $height;
    font-size: $fontSize;
}

.box-content {
    overflow: hidden;

    &-img {
        height: 245px;
        overflow: hidden;
        @include viewport-sm {
            height: 200px;
        }

        img {
            object-fit: cover;
        }
    }

    &-body {
        padding: 30px;

        span {
            font-weight: 500;
            text-transform: capitalize;
            font-size: 14px;

            i {
                color: $color2;
            }
        }

        .title {
            font-weight: 600;
            line-height: 1.4;
            color: $color4;
            @include content(2, 50px, 18px);
        }

        .description {
            @include content(3, 66px, 15px);
        }
    }

    &:hover .title {
        color: $color !important;
    }
}
