<div class="box-gallery">
    <div class="date">
        <div class="day">
            {{item.maker_date | date:'MM'}}
        </div>
        <div class="year">
            {{item.maker_date | date : 'yyyy'}}
        </div>
    </div>
    <a [routerLink]="['/' + globals.language.getCode()  +'/'+ item.parent_link+ '/' +item.link] ">
        <div class="images position-relative" style="overflow: hidden;">
            <img class="card-img" width="100%" height="100%" [defaultImage]="'../../../../assets/img/default.jpg'"
                [lazyLoad]="item.images" [alt]="item.name" style="object-fit: cover; height:200px ;" />

        </div>
    </a>
    <div class="description p-md-4 p-3">
        <h4 class="mb-0 font-weight-bold text-center" style="outline: none"
            [routerLink]="['/' + globals.language.getCode() + '/'+ item.parent_link+ '/' + item.link]">
            {{item.name}} ({{item.count > 0 ? item.count : 0}})
        </h4>
    </div>
</div>