.box-gallery {
    cursor: pointer;
}

.images {
    box-shadow: 0 0px 2px rgb(0 0 0 / 15%), 0 -1px 1px rgb(0 0 0 / 7%);
}

.date {
    background: #de212b;
    left: 20px;
    top: -5px;
    width: 50px;
    position: absolute;
    z-index: 3;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    border-top-right-radius: 0;
}

.date::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 0 5px;
    border-color: transparent transparent transparent #de212b;
    content: '';
    display: block;
    position: absolute;
    right: -5px;
    top: 0;
}

.day {
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
}

.day::after {
    width: 30px;
    height: 0;
    border-top: 1px solid #fff;
    content: '';
    display: block;
    line-height: 0;
    margin: 8px 0 2px;
}

.month {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
}

.box-gallery:hover .images::before {
    animation: shine 1s;
}

.images::before {
    position: absolute;
    top: 0;
    left: -68%;
    z-index: 2;
    display: block;
    content: '';
    width: 30%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
}

@keyframes shine {
    100% {
        left: 100%;
    }
}

.description h4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    transition: 0.3s;
    color: #454545;
    font-size: 16px;
}

.box-gallery:hover h4 {
    color: #de212b !important;
    transition: 0.3s;
}
