<div class="container-fluid">
    <div class="row">
        <div *ngFor="let item of data"
             class="col-sm-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="title">{{ item.title}}</div>
                    <h3 class="d-flex align-items-center justify-content-between">
                        <div>{{ item.on}}<small class="text-warning"
                                   style="font-size: 14px;">/{{ item.off}} off</small></div>
                        <i [ngClass]="item.class"></i>
                    </h3>
                    <!-- <h5 style="font-size:15px" class="card-title ml-5">
                       {{ 'dashboard.total' | translate }}{{+item.on + (+item.off)}}</h5> -->
                </div>
            </div>
        </div>
    </div>
</div>