<div class="bg">
    <div class="container-fluid h-100">
        <div class="align-items-center h-100 justify-content-end row">
            <div class="col-md-3 mr-md-5 pr-md-5">
                <div class="bg-login mt-3 mb-3 p-4">
                    <div class="form-group text-center">
                        <i class="fas fa-user-circle"
                           style="font-size: 6rem;"></i>
                    </div>
                    <form [formGroup]="fm"
                          *ngIf='fm'
                          (submit)='onSubmit()'>
                        <div class="form-group">
                            <label>{{ 'lblEmail' | translate }}</label>
                            <input type="email"
                                   formControlName="email"
                                   name="email"
                                   class="form-control">
                            <small style="color:red"
                                   *ngIf="fm.get('email').invalid && fm.get('email').touched">
                                {{ 'message.email' | translate }}</small>
                        </div>
                        <div class="form-group">
                            <label>
                                {{ 'lblPassword' | translate }}
                            </label>
                            <div class="d-flex position-relative">
                                <input [type]="type"
                                       class="form-control"
                                       name="password"
                                       formControlName="password">
                                <span (click)="type = type == 'password' ? 'text' : 'password'"
                                      id="basic-addon2">
                                    <i class="fa position-absolute cursor-pointer"
                                       [ngClass]="{'fa-eye': type=='password', 'fa-eye-slash': type=='text'}"
                                       style="top:10px; right: 17px; z-index: 99;"
                                       aria-hidden="true"></i>
                                </span>
                            </div>
                            <small class="d-inline"
                                   style="color:red"
                                   *ngIf="fm.get('password').invalid && fm.get('password').touched">
                                {{ 'message.required' | translate }}
                            </small>
                        </div>
                        <div class="text-right">
                            <button type="submit"
                                    [disabled]="!fm.valid"
                                    class="btn btn-success ">
                                {{ 'FEbtn.login' | translate }}
                            </button>
                        </div>
                    </form>
                </div>
                <div class="text-white poweredby text-center pt-3">
                    <h6>{{ 'copyright' | translate }}
                        <a class="text-white text-decoration-none"
                           href="https://chips.vn"
                           target="_blank"
                           rel="noopener noreferrer">Chips</a>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>