@import 'src/style/mixins';

$inner: 75px;
.inner {
    padding: $inner 0;
    @include viewport-sm {
        padding: calc(#{$inner} / 2) 0;
    }
}

.slide {
    --height: 100vh;
    margin-top: -117.5px;

    @include viewport-md {
        --height: 500px;
    }
    @include viewport-sm {
        --height: 433px;
    }

    &-bg {
        z-index: 4;
        height: var(--height);
        &::after {
            z-index: 2;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.7;
            background: linear-gradient(160deg, #010f27 40%, #595959 70%);
        }
        img {
            object-fit: cover;
            cursor: default;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
        }
    }

    &-content {
        z-index: 3;
        max-width: 1140px;
        position: absolute;
        padding: 0 8px;
        width: 100%;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        @include viewport-md {
            padding: 0 95px;
        }
        @include viewport-sm {
            top: 60%;
        }
    }

    &-description {
        max-width: 60%;
        text-shadow: 0 0 25px rgb(0 0 0 / 40%);
        @include line-clamp(3);
        @include viewport-sm {
            max-width: unset;
        }
    }

    &-title {
        font-size: 2rem;
        max-width: 60%;
        text-shadow: 0 0 25px rgb(0 0 0 / 40%);

        @include viewport-md {
            max-width: 67%;
        }
        @include viewport-sm {
            font-size: 1.5rem;
            max-width: unset;
        }
    }

    &-btn {
        color: #fff !important;
        background-color: var(--color);

        &:hover {
            background-color: white;
            color: var(--color) !important;
        }
    }
}

.tag-navigator {
    $border: 6px;
    $pl: calc(1.5rem + #{$border});
    $fontSize: 2.5rem;

    &__heading {
        padding-left: $pl;
        font-size: $fontSize;
        @include viewport-sm {
            font-size: calc(#{$fontSize} / 1.5);
        }
        &::before {
            @include beforePseudo($border, 100%);
            background: linear-gradient(180deg, var(--color), #3c5e2f);
        }
        &-description {
            padding-left: $pl;
            font-size: calc(#{$fontSize} / 2);
        }
    }
    &__tag {
        &-container {
            padding-left: $pl;
            &::-webkit-scrollbar {
                height: 0;
            }
        }
        &-item {
            background-color: #010f27;
            > a {
                text-shadow: 0 0 25px rgb(0 0 0 / 40%);
            }
            &--border {
                border-color: var(--color) !important;
                background-color: rgba(0, 0, 0, 0.349);
            }
        }
    }
}

.product {
    z-index: 1;
    background-color: #010f27;
    @include viewport-md {
        padding: 50px 0;
    }
    @include viewport-sm {
        padding: 50px 0;
    }
    .title {
        text-shadow: 0 0 25px rgb(0 0 0 / 40%);
        @include viewport-sm {
            font-size: 25px;
        }
    }
    .description-title {
        @include viewport-sm {
            font-size: 16px;
        }
    }
    &::before {
        --size: 100%;
        content: '';
        position: absolute;
        z-index: -1;
        top: 68px;
        left: -133px;
        width: var(--size);
        height: var(--size);
        background-image: url(../../../assets/img/atz_profile.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        @include viewport-sm {
            background-image: unset;
        }
    }
    // &-img {
    //   width: 300px;
    //   height: 194px;
    //   @include viewport-md {
    //     width: 200px;
    //   }
    // }
    &-category {
        // padding: 72.5px 0;
        min-height: 340px;
        @include viewport-md {
            min-height: 435px;
            // padding: 120px 0;
        }
        @include viewport-sm {
            min-height: 610px;
            //   padding: 305px 0;
        }
    }
    .category {
        &-item {
            width: 33%;
            box-shadow: 0 4px 33px #0009252e;
            opacity: 0;
            @include viewport-sm {
                width: 100%;
                opacity: 1;
                transform: translateX(0) !important;
            }
            @include viewport-md {
                width: 45%;
            }
            &-img {
                $size: 66px;
                width: $size;
                height: $size;
                top: 50%;
                transform: translateY(-50%);
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -4px;
                    left: -4px;
                    width: $size;
                    height: $size;
                    border-radius: 50%;
                    background-color: var(--secondaryColor);
                    z-index: -1;
                }
                &-e::after {
                    right: -4px;
                    left: unset;
                }
            }
            &-title {
                @include line-clamp(2);
                @include viewport-sm {
                    font-size: 16px;
                }
            }
            &-description {
                @include line-clamp(3);
                color: var(--colorText);
                @include viewport-sm {
                    font-size: 14px;
                }
            }
        }
        $categoryList: (
            0: 0 unquote('') unquote('') -75px,
            1: 0 -75px unquote('') unquote(''),
            2: unquote('') unquote('') 0 0,
            3: unquote('') 0 0 unquote(''),
        );
        $categoryListMobileSmall: (
            0: 0 unquote('') unquote('') 0,
            1: 155px 0 unquote('') unquote(''),
            2: unquote('') unquote('') 165px 0,
            3: unquote('') 0 10px unquote(''),
        );
        $categoryListTablet: (
            0: 0 unquote('') unquote('') 10px,
            1: 60px 10px unquote('') unquote(''),
            2: unquote('') unquote('') 60px 10px,
            3: unquote('') 10px 0 unquote(''),
        );
        @each $class, $position in $categoryList {
            &-#{$class} {
                @include categoryPosition(nth($position, 1), nth($position, 2), nth($position, 3), nth($position, 4));
            }
        }
        @include viewport-sm {
            @each $class, $position in $categoryListMobileSmall {
                &-#{$class} {
                    @include categoryPosition(
                        nth($position, 1),
                        nth($position, 2),
                        nth($position, 3),
                        nth($position, 4)
                    );
                }
            }
        }
        @include viewport-md {
            @each $class, $position in $categoryListTablet {
                &-#{$class} {
                    @include categoryPosition(
                        nth($position, 1),
                        nth($position, 2),
                        nth($position, 3),
                        nth($position, 4)
                    );
                }
            }
        }
    }
}

.title {
    position: relative;
    text-shadow: 0 0 25px rgb(0 0 0 / 40%);

    &-description {
        max-width: 50%;
        margin: auto;

        @include viewport-sm {
            max-width: 100%;
        }
    }

    .bottom-dots {
        position: absolute;
        bottom: -10%;
        left: 50%;
        transform: translateX(-50%);

        .dot {
            position: relative;
            display: block;
            float: left;
            width: 3px;
            height: 3px;
            border-right: 3px solid;
            margin-right: 3px;
            border-right-color: $color;
        }

        .line-dot {
            border-right: 40px solid;
            border-right-color: $color;
        }
    }
}

.about {
    background-image: url(../../../assets/img/bg_about.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    min-height: 530px;

    &::after {
        z-index: -2;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.9;
        background: linear-gradient(180deg, #041027 33%, #435565 100%);
    }
    .title {
        @include viewport-sm {
            font-size: 25px;
        }
    }
    .description-title {
        @include viewport-sm {
            font-size: 16px;
        }
    }
    @include viewport-md {
        padding-right: 12px;
        padding-left: 12px;
    }
    @include viewport-sm {
        background-attachment: unset;
    }
    .line {
        position: relative;
        padding-left: 35px;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: calc(50% - 2px);
            width: 30px;
            height: 2px;
            background-color: $color;
        }
    }
    // .about-video {
    //   position: relative;
    //   background-color: $color;
    //   width: 50px;
    //   height: 50px;
    //   border-radius: 50%;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   z-index: 2;

    //   &::after {
    //     content: '';
    //     position: absolute;
    //     background-color: $color;
    //     opacity: 0.6;
    //     border: 2px solid $color2;
    //     top: -10%;
    //     left: -10%;
    //     width: 120%;
    //     height: 120%;
    //     border-radius: 50%;
    //     z-index: 1;
    //     -webkit-animation: video-circle-anim 2.3s infinite ease-in-out;
    //     animation: video-circle-anim 2.3s infinite ease-in-out;
    //     -webkit-transition: all 0.5s;
    //     transition: all 0.5s;
    //   }

    //   > i {
    //     z-index: 3;
    //     color: #fff;
    //   }
    // }
    button {
        color: #fff;
        background-color: var(--color);
        &:hover {
            color: #333;
            background-color: #fff;
            > i {
                color: var(--color);
            }
        }
        > i {
            font-size: 1.25rem;
        }
    }
    &-item {
        width: 120px;
        height: 120px;
        max-width: 100%;
        max-height: 100%;
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        transition: all 0.25s;
        &:hover {
            transform: translateY(-6px);
        }
    }
    &-animate {
        z-index: -1;
        animation: rotateAbout 15s infinite linear;
        top: -25px;
    }
}

.project {
    padding: 80px 0;
    background-color: #010f27;
    background-image: url(../../../assets/img/bg-project.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;

    @include viewport-sm {
        padding: 50px 0 75px;
    }
    .title {
        @include viewport-sm {
            font-size: 25px;
        }
    }
    .description-title {
        @include viewport-sm {
            font-size: 16px;
        }
    }
    &-description {
        @include line-clamp(2);
    }
    &-btn {
        color: white;
        background-color: var(--color);
        &:hover {
            color: #333;
            background-color: white;
            > i {
                color: var(--color);
            }
        }
        > i {
            font-size: 1.25rem;
            color: white;
        }
    }
}

.content {
    padding: 75px 0 50px;
    z-index: 1;
    background-image: url(../../../assets/img/maxresdefault.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &::after {
        z-index: -2;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        background: linear-gradient(182deg, #000 40%, #595959 70%);
    }
    .title {
        @include viewport-sm {
            font-size: 25px;
        }
    }
    .description-title {
        @include viewport-sm {
            font-size: 16px;
        }
    }
    @include viewport-md {
        padding-bottom: 35px;
    }
    @include viewport-sm {
        padding: 50px 0 25px;
    }

    &__btn {
        color: white;
        background-color: var(--color);
        &:hover {
            color: #333;
            background-color: white;
            > i {
                color: var(--color);
            }
        }
        > i {
            font-size: 1.25rem;
            color: white;
        }
    }
}

.partner {
    padding-top: 45px;
    background-color: #010f27;
}
