<!-- Slide -->
<div class="slide" *ngIf="slide.data && slide.data.length > 0">
    <owl-carousel-o [options]="slide.options">
        <ng-container *ngFor="let item of slide.data; index as i">
            <ng-template carouselSlide>
                <div class="slide-bg position-relative overflow-hidden">
                    <img [defaultImage]="'../../../../assets/img/defaut-slide.png'" [lazyLoad]="item.images"
                        [alt]="item.name" class="w-100 h-100" />
                    <div class="slide-content d-flex flex-column justify-content-center align-items-center">
                        <div *ngIf="i !== 0">
                            <div class="w-100" *ngIf="item.position && item.position < 4"
                                [ngClass]="+item.position === 1 ? 'text-md-left' : (+item.position === 2 ? 'text-center' : 'text-md-right')">
                                <h2 class="d-inline-block slide-title font-weight-bold text-uppercase color py-1 mb-3">
                                    {{ item.title ? item.title : item.name }}
                                </h2>
                                <br>
                                <p class="d-inline-block slide-description text-white py-1 mb-2"
                                    [ngClass]="{'invisible': item.description == ''}">
                                    {{ item.description }}
                                </p>
                                <br>
                                <a [href]="item.link"
                                    class="d-inline-flex mt-2 mt-md-3 align-items-center slide-btn btn btn-light rounded-0 border-0 py-md-2 px-md-4 font-weight-bold"
                                    role="button" target="_blank">
                                    <span class="mr-2">
                                        {{ 'FEbtn.viewDetail' | translate }}
                                    </span>
                                    <i class="fal fa-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div *ngIf="i === 0" class="w-100">
                            <section class="tag-navigator inner">
                                <div class="tag-navigator__heading-container">
                                    <h2 class="tag-navigator__heading position-relative text-white">
                                        <span>{{ 'FETagNavigator.normalHeading' | translate }}</span>
                                        <br />
                                        <span class="font-weight-bold">
                                            {{ 'FETagNavigator.boldHeading' | translate }}
                                        </span>
                                    </h2>
                                    <p class="tag-navigator__heading-description text-white">
                                        {{ 'FETagNavigator.description' | translate }}
                                    </p>
                                </div>
                                <ul
                                    class="tag-navigator__tag-container d-flex flex-md-wrap list-unstyled overflow-auto mb-0">
                                    <li class="tag-navigator__tag-item tag-navigator__tag-item--border border rounded-pill mr-3 mt-3"
                                        *ngFor="let item of tagNavigator.data">
                                        <a class="d-inline-block text-decoration-none text-nowrap text-white px-3 py-1"
                                            [routerLink]="['/' + item.link ]">
                                            {{ item.name }}
                                        </a>
                                    </li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>

<!-- Product -->
<div class="product inner position-relative overflow-hidden"
    *ngIf="product.data.title && product.data.title.length > 0">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-uppercase text-center mb-4 mb-md-5">
                        <!-- <h5 class="mb-2 description-title text-white">{{ product.data.name }}</h5> -->
                        <h2 class="font-weight-bold color mb-0 title">{{ product.data.title }}</h2>
                    </div>
                </div>
            </div>
            <ol class="product-category list-unstyled position-relative mx-4 mb-0">
                <!-- <div class="product-img mx-auto d-none d-md-block">
                    <div class="d-flex align-items-center h-100">
                        <img *ngIf="product.data.images && product.data.images.length > 0" class="img-fluid"
                            [src]="product.data.images" [alt]="product.data.name" />
                    </div>
                </div> -->
                <li *ngFor="let item of product.data.list | slice: 0: 4; index as i; even as e; odd as o"
                    [ngClass]="'category-' + i"
                    [ngStyle]="{'transform': e ? 'translateX(200px)' : 'translateX(-200px)', 'border-radius': e ? '12px 60px' : '60px 12px'}"
                    [id]="'category-' + i" class="category-item position-absolute bg-white p-0">
                    <div class="py-4 position-relative" [ngClass]="e ? 'pl-5 pr-4' : 'pl-4 pr-5'">
                        <div class="category-item-img position-absolute"
                            [ngStyle]="e ? {'left': '-32px', 'right': 'unset'} : {'left': 'unset', 'right': '-32px'}"
                            [ngClass]="{'category-item-img-e': o}">
                            <a
                                [routerLink]="['/' + globals.language.getCode() + '/' + item.parent_link+ '/' + item.link]">
                                <img class="img-fluid rounded-circle border border-white"
                                    style="background-color: var(--secondaryColor);" [src]="item.icon"
                                    [alt]="item.name" />
                            </a>
                        </div>
                        <a class="d-inline-block text-decoration-none color"
                            [routerLink]="['/' + globals.language.getCode() + '/' + item.parent_link+ '/' + item.link]">
                            <h3 class="category-item-title h5 font-weight-bold text-capitalize mb-0">
                                {{ item.name }}
                            </h3>
                        </a>
                        <p class="category-item-description mb-0">{{ item.description }}</p>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>

<!-- About -->
<div class="about inner position-relative" *ngIf="about.data.name && about.data.name.length > 0">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="text-uppercase mb-3">
                        <h5 class="line description-title text-white">{{ about.data.name }}</h5>
                        <h2 class="about-border color font-weight-bold title">{{ about.data.title }}</h2>
                    </div>
                    <div class="about-description mb-3 text-white">{{ about.data.description }}</div>
                    <!-- <div class="d-flex justify-content-between align-items-center"> -->
                    <!-- <a class="nav-link p-0"
                           data-fancybox
                           [href]="about.data.link_video"
                           *ngIf="about.data.link_video && about.data.link_video !== ''">
                            <div class="about-video d-inline-flex">
                                <i class="fas fa-play"></i>
                            </div>
                        </a> -->
                    <div class="mb-3" [innerHTML]="('FEVideoAboutUs' | translate) | sanitizeHtml"
                        *ngIf="('FEVideoAboutUs' | translate) != 'FEVideoAboutUs' && ('FEVideoAboutUs' | translate) != ''">
                    </div>
                    <button [routerLink]="['/' + language + about.data.link]"
                        class="btn btn-sm rounded-0 d-inline-flex align-items-center">
                        <span>{{ 'FEbtn.more' | translate }}</span>
                        <i class="fal fa-long-arrow-right ml-2"></i>
                    </button>
                    <!-- </div> -->
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                    <div class="position-relative px-md-4">
                        <div class="row justify-content-center" *ngIf="about.data.list && about.data.list.length > 0">
                            <div class="col-4 col-md-4 p-md-0"
                                *ngFor="let item of about.data.list | slice: 0: 6; index as i"
                                [ngClass]="{'col-md-12': i == 0, 'col-lg-4': i == 1 || i == 2 || i == 3}">
                                <figure class="about-item my-md-3 mx-auto rounded bg-white">
                                    <a class="text-decoration-none d-flex flex-column justify-content-center text-center h-100"
                                        [routerLink]="['/' + globals.language.getCode() + '/' + item.parent_link]">
                                        <div style="width: 64px;" class="mx-auto">
                                            <img width="100%" height="100%" [src]="item.images" [alt]="item.name" />
                                        </div>
                                        <figcaption class="font-weight-bold text-body">{{ item.name }}
                                        </figcaption>
                                    </a>
                                </figure>
                            </div>
                        </div>
                        <div class="about-animate position-absolute fixed-top d-none d-md-block">
                            <img src="../../../assets/img/about-animate.png" class="img-fluid" alt="About">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Project -->
<div class="project" *ngIf="project.data.name && project.data.name.length > 0">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row justify-content-lg-between align-items-end">
                <div class="col-md-5">
                    <h5 class="text-uppercase text-white description-title">
                        {{ project.data.name }}
                    </h5>
                    <h2 class="text-capitalize font-weight-bold color mb-0 title">
                        {{ project.data.title }}
                    </h2>
                </div>
                <div class="col-md-6 pt-3 pt-md-0">
                    <div class="text-right mb-2">
                        <button [routerLink]="['/' + globals.language.getCode() + '/' + project.data.link]"
                            class="project-btn align-items-center btn btn-sm d-inline-flex rounded-0">
                            <span class="mr-2">{{ 'FEbtn.more' | translate }}</span>
                            <i class="fal fa-long-arrow-right"></i>
                        </button>
                    </div>
                    <!-- <p class="project-description text-white text-md-right text-lg-left mb-0">
                        {{ project.data.description }}
                    </p> -->
                </div>
            </div>

            <owl-carousel-o [options]="project.options" class="d-block pt-3 pt-md-5">
                <ng-container *ngFor="let item of project.data.list | slice: 0: 6">
                    <ng-template carouselSlide>
                        <app-box-project [item]="item"></app-box-project>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</div>

<!-- Content -->
<div class="content position-relative" *ngIf="content.data.list?.length">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row align-items-end">
                <div class="col-md-6">
                    <div class="text-uppercase">
                        <h5 class="description-title text-white">{{ content.data.name }}</h5>
                        <h2 class="font-weight-bold color mb-0 title">{{ content.data.title }}</h2>
                    </div>
                </div>

                <div class="col-md-6 text-right">
                    <a [routerLink]="['/' + language + content.data.parent_link + '/' + content.data.link]"
                        class="content__btn d-inline-flex align-items-center btn btn-sm rounded-0 mt-3 mb-3 mb-md-0">
                        <span class="mr-2">{{ 'FEbtn.more' | translate }}</span>
                        <i class="fal fa-long-arrow-right"></i>
                    </a>
                </div>
            </div>

            <div class="mt-5">
                <owl-carousel-o [options]="content.options">
                    <ng-container *ngFor="let item of content.data.list | slice: 0: 6">
                        <ng-template carouselSlide>
                            <app-box-content [item]="item"></app-box-content>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>

<!-- Partner -->
<div class="partner overflow-hidden" *ngIf="partner.data && partner.data.length > 0">
    <div class="container-main">
        <div class="container-fluid">
            <owl-carousel-o [options]="partner.options">
                <ng-container *ngFor="let item of partner.data">
                    <ng-template carouselSlide>
                        <div class="border">
                            <a [href]="[item.link]" target="_blank">
                                <img [src]="item.logo" [alt]="item.company" width="100px">
                            </a>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>

            <!-- <hr class="my-0" /> -->
        </div>
    </div>
</div>