<a class="nav-link text-dark p-0 pb-2"
    [routerLink]="['/' + globals.language.getCode() + '/' + item.parent_links + '/' + item.parent_link + '/' + item.link]">
    <div class="card-content d-flex ">
        <div class="images position-relative">
            <img width="100%" [defaultImage]="'../../../../assets/img/default.jpg'" [lazyLoad]="item.images"
                [title]="item.name" [alt]="item.name">
        </div>
        <div class="content ml-2">
            <div class="font-weight-bold content-name pt-1 pt-md-0">{{item.name}}
            </div>
            <div class="info-container align-items-center d-flex justify-content-between pt-2 pt-md-0">
                <div class="mr-2">
                    <i class="far fa-calendar-alt mr-1"></i>
                    <span>{{item.maker_date |date:'dd-MM-yyyy'}}</span>
                </div>
                <div>
                    <i class="fas fa-eye mr-1"></i>
                    <span>{{(item.views > 0) ? item.views:0}}</span>
                </div>
            </div>
        </div>
    </div>
</a>