@import "src/style/mixins";
.images {
    width: 35%;
    overflow: hidden;
    & img {
        border-radius: 5px;
        object-fit: cover;
        height: 70px;
        @include viewport-sm {
            height: auto;
        }
    }

    &::before {
        position: absolute;
        top: 0;
        left: -75%;
        z-index: 2;
        display: block;
        content: "";
        width: 50%;
        height: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
        transform: skewX(-25deg);
    }
}

.content {
    width: calc(100% - 35% - 8px);

    &-name {
        height: 47px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 14px;
        @include viewport-sm {
            font-size: 16px;
            height: 50px;
        }
    }
    &-name:hover {
        color: var(--color);
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

.card-content:hover .images::before {
    animation: shine 1s;
}

.info-container div span,
.info-container div i {
    font-size: 0.7rem;
}
