@import "src/style/mixins";

.footer {
    background-color: #010f27;
    &-body {
        padding-top: 45px;

        @include viewport-md {
            padding: 20px 0;
        }
    }
    hr {
        border-top-color: #575758 !important;
    }
    &-title {
        font-size: 18px;
        @include viewport-sm {
            font-size: 14px;
        }
    }

    &-item {
        color: #ddd;
        cursor: pointer;
        font-size: 14px;
        text-decoration: none;
        @include viewport-sm {
            font-size: 13px;
        }
    }
}

.footer-social {
    color: #a2a2a2;
    display: inline-block;
    transition: all 0.3s;
    font-size: 16px;
    padding: 0 13px;
}

.footer-social:hover {
    transform: scale(1.2);
    animation-delay: 0s;
}

.resources {
    margin: 35px 0 40px;

    &__description {
        @include line-clamp(5);
        font-size: 14px;
        color: #ddd;
    }
}
