<div class="card">
    <div class="card-header">
        <strong>{{ 'libraryGroup.title' | translate }}</strong>
        <span class="tools pull-right float-md-right d-flex">
            <a class="nav-link p-1 pointer"
               (click)="show=(!show && show==false)?true:!show">
                <i *ngIf="!show || show==false"
                   class="fa fa-chevron-down"></i>
                <i *ngIf="show && show==true"
                   class="fa fa-chevron-up"></i>
            </a>
        </span>
    </div>
    <table class="table table-hover"
           *ngIf="!show || show == false">
        <thead>
            <tr>
                <th *ngFor="let col of table.cols"
                    (click)="table._sorting(col.field)"
                    [ngClass]="{ 'sorting' : table.sorting.field==col.field ,'cursor-pointer': col.filter==true  , 'hide' : col.show==false }">
                    <div [(ngSwitch)]="col.field">
                        <span *ngSwitchDefault>{{col.title | translate }}</span>
                        <i *ngIf="table.sorting.field==col.field"
                           class="fa"
                           [ngClass]="{ 'fa-long-arrow-down' : table.sorting.sort=='asc' , 'fa-long-arrow-up' : table.sorting.sort=='desc' }"></i>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of table.data; let i = index"
                class="pointer hover-row"
                (click)="onCheckItem(item)"
                [ngClass]="{'status-off': item.status && item.status==0 ,'activeRows' : item.check == true}">
                <td *ngFor="let col of table.cols"
                    [ngClass]="{ 'hide' : col.show==false }">
                    <div [(ngSwitch)]="col.field">
                        <span *ngSwitchCase="'orders'">{{ i + 1}}</span>
                        <a *ngSwitchCase="'name'">
                            {{ item[col.field] }}
                        </a>
                        <div *ngSwitchCase="'action'"
                             class='d-flex'
                             (click)="$event.stopPropagation();">
                            <button class="mr-2  btn btn-primary btn-sm text-white"
                                    [routerLink]="['../groupupdate/',item.id]">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button class="btn  btn-danger btn-sm text-white"
                                    (click)="onRemove(item.id,item.name)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                        <span *ngSwitchDefault>{{ item[col.field] }}</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="card-footer">
        <div class="float-md-left">
            <span>{{ table.settings.first }}-{{ table.settings.last }}of{{ table.settings.total }}</span>
            <span>
                <a (click)="table._previousnext(false)"
                   style="padding: 3px 5px;">
                    <i class="fa fa-angle-double-left"
                       aria-hidden="true"></i>
                </a>
                <a (click)="table._previousnext(true)"
                   style="padding: 3px 5px;">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </span>
        </div>
    </div>
</div>