<figure class="box-content-horizontal d-flex">
    <!-- <div class=""> -->
    <a class="d-block images"
        [routerLink]="['/' + globals.language.getCode() + '/'+ item.parent_links +'/'+ item.parent_link+ '/' +item.link]">
        <img class="mw-100 mh-100" [defaultImage]="'../../../../assets/img/default.jpg'" [lazyLoad]="item.images"
            [title]="item.name" [alt]="item.name">
    </a>
    <!-- </div> -->
    <div class="content pl-md-3 pl-2 pt-2">
        <div class="title">
            <a class="nav-link p-0 text-body"
                [routerLink]="['/' + globals.language.getCode() + '/'+ item.parent_links +'/'+ item.parent_link+ '/' +item.link]">
                {{ item.name }}
            </a>
        </div>
        <ul class="list-view position-relative d-flex align-items-center">
            <li class="post-date">
                <i class="far fa-calendar-alt mr-1 "></i>
                {{ item.maker_date ? item.maker_date : (item.maker_date | date: 'dd/MM/yyyy')}}
            </li>
            <li *ngIf="item.page_name">{{ item.page_name }}</li>
            <li class="view">
                <i class="fas fa-eye mr-1"></i>
                {{ (item.views > 0) ? item.views: 0 }}
            </li>
        </ul>
        <p class="description text-secondary mb-md-2 mb-0">{{ item.description }}</p>

        <div [routerLink]=" ['/' + globals.language.getCode() + '/' + item.parent_links +'/'+ item.parent_link+ '/'
        +item.link]" class="d-md-flex d-none align-items-center view-more">
            <span class="mr-2">{{ 'FEbtn.more' | translate }}</span>
            <i class="fal fa-long-arrow-right"></i>
        </div>
    </div>
</figure>