@import 'src/style/mixins';

.box-content-horizontal {
  .images {
    width: 300px;
    height: 210px;
    & img {
      border-radius: 6px;
    }
    @include viewport-sm {
      min-height: 108px;
      height: 108px;
      width: 140px;
    }
  }
  .content {
    width: calc(100% - 300px);

    @include viewport-sm {
      width: calc(100% - 147px);
    }
    & .title a {
      font-size: 1.5rem;
      margin-bottom: 12px;
      line-height: 32px;
      @include line-clamp(1);
      @include viewport-sm {
        font-size: 0.9rem;
        @include line-clamp(2);
        line-height: 17px;
        margin-bottom: 6px;
      }
    }
    & .list-view {
      padding: 0 0 12px;
      font-size: 12px;
      margin: 0 0 12px;
      color: #858586;
      @include viewport-sm {
        font-size: 10px;
        padding: 0;
        margin: 0 0 7px;
      }
      & li {
        list-style: none;
        display: inline-block;
        padding-right: 10px;
        margin-right: 10px;
        border-right: 1px solid #b3b3b3;
        line-height: 1;
        &:last-child {
          border: 0;
        }
        @include viewport-sm {
          padding-right: 5px;
          margin-right: 5px;
        }
      }
      & .view::after {
        background: #6b747c;
        bottom: 0;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        width: 97%;
        @include viewport-sm {
          content: unset;
        }
      }
    }
    & .description {
      @include line-clamp(3);
      @include viewport-sm {
        @include line-clamp(2);
        font-size: 12px;
      }
    }
    & .view-more {
      color: var(--color);
      cursor: pointer;
    }
  }
  &:hover .content .title a {
    color: var(--color) !important;
    transition: 0.3s;
  }
}
