.user:hover .dropdown-menu-user {
    display: block;
    position: absolute;
    top: 95%;
    right: 0;
}
.dropdown-menu-user .dropdown-item:hover {
    color: white !important;
    background-color: #3a464f !important;
    cursor: pointer;
}
.logo-header {
    max-width: 150px;
    height: 35px;
}
.app-header {
    position: sticky!important;
    top: 0;
    z-index: 10;
    box-shadow: 0 5px 21px -5px #cdd1e1;
}