@import 'src/style/mixins';

.contact a {
    color: #7a8088;
    font-size: 14px;
    text-decoration: none;
}

.contact a i {
    font-size: 14px;
}

.footer-social {
    color: #a2a2a2;
    display: inline-block;
    transition: all 0.3s;
    font-size: 16px;
    padding: 0 10px;
}

.footer-social a:hover {
    transform: scale(1.1);
    color: #fff;
    border-color: #fff;
}

.header {
    z-index: 6;

    &--shadow {
        box-shadow: 0 0 15px 0 rgb(41 61 88 / 10%);
    }
    &-center {
        padding: 0.5rem 0;
        @include viewport-sm {
            padding: 0.25rem 0.75rem;
        }
        &.navbar-fixed {
            padding: 0.25rem 0.75rem;
        }
    }
    &__logo {
        width: 200px;
        height: 60px;
        > img {
            object-fit: contain;
        }
        @include viewport-sm {
            max-width: unset;
            width: 167px;
        }
    }
}

.language {
    cursor: pointer;
}

.language-active {
    color: var(--color) !important;
    font-weight: 600;
}

.navbar-fixed,
.navbar-fixed-mobile {
    z-index: 1090;
    position: fixed !important;
    width: 100vw !important;
    top: 0;
    left: 0;
    background: #010f27 !important;
    box-shadow: 0px 0px 6px #29363d38;
    animation: navbar-fixed 0.33s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.header-page {
    position: relative;
    background: white;
}

.bg-dark-page {
    background-color: #343a40 !important;
}

/* search  */
.search {
    position: absolute;
    top: 41px;
    right: 83px;
    width: 300px;
    padding: 0 20px;
    background-color: #fff;
    border-top: 4px solid var(--color);
    overflow: hidden;
    z-index: 3;
    box-sizing: border-box;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);

    @include viewport-sm {
        top: 50px;
        right: 0;
    }
}

.input-search {
    outline: none !important;
    border: 0;
    background-color: white;
    padding: 24px 25px 24px 0;
}

.input-search:focus {
    box-shadow: none;
}

.search-mobi {
    position: fixed;
    z-index: 9;
    background: #fff;
    overflow-x: hidden;
    transition: 0.3s;
    left: 0;
    top: 0;
    height: 138px;
    right: 0;
    padding-top: 75px;
    box-shadow: 0px 0px 6px #29363d38;
    border-bottom: var(--color);
}

.search-input,
.search-input-mobile {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    font-family: arial;
    font-size: 14px;
    font-style: italic;
    height: 48px;
    line-height: 48px;
    outline: medium none;
    padding: 0 55px 0 170px;
    width: 100%;
}

.search-input-mobile {
    padding: 0 50px 0 20px;
}

.search-icon {
    position: absolute;
    right: 20px;
    top: 33%;
    font-size: 16px;
    cursor: pointer;
}

@media (max-width: 375px) {
    .search {
        width: 260px;
    }
}

.logo:focus {
    outline: none;
}

.menu-mobi-hidden {
    transform: translateY(-100%);
    transition-property: transform;
    transition-duration: 0.3s;
    visibility: visible;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.menu-mobi {
    position: fixed;
    padding-top: 68px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transition: 0.4s;
    overflow-x: hidden;
    z-index: 5;
}

.nav-open-btn {
    @include viewport-sm {
        padding-right: 0;
    }
    .line {
        margin: 6px 0;
        width: 30px;
        height: 2px;

        background-color: #fff;
        transition: all 0.3s ease-in-out;

        @include viewport-sm {
            width: 24px;
            height: 1px;
            background-color: #000;
        }
    }

    &.active .line {
        &:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
            @include viewport-sm {
                transform: translateY(6px) rotate(45deg);
            }
        }
        &:nth-child(2) {
            opacity: 0;
        }
        &:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}
.menu {
    &--bg::before {
        z-index: 4;
        content: '';
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #1f2b3c;
    }
}
