<header class="header position-relative" [ngStyle]="{'height': globals.initHeader.isFixed ? 'var(--h-header)' : ''}">
    <div [ngClass]="{'bg-white header--shadow': globals.initHeader.state}"
        [class.fixed-top]="globals.initHeader.isFixed">
        <div class="header-top d-none d-md-block">
            <div class="container-main">
                <div class="container-fluid">
                    <div class="row justify-content-end justify-content-lg-between">
                        <div class="col-md-6 d-none d-lg-block"></div>
                        <div class="col-md-6">
                            <div class="d-flex align-items-center justify-content-end py-2">
                                <div class="contact d-flex align-items-center">
                                    <a *ngIf="('FEMail' | translate) != 'FEMail' && ('FEMail' | translate) != ''"
                                        href="mailto:{{ 'FEMail' | translate }}" class="pr-3">
                                        <i class="fas fa-envelope mr-1"></i>
                                        {{ 'FEMail' | translate }}
                                    </a>
                                    <a *ngIf="('FEPhone' | translate) != 'FEPhone' && ('FEPhone' | translate) != ''"
                                        href="tel:{{ 'FEPhone' | translate }}">
                                        <i class="fas fa-phone-alt mr-1"></i>
                                        {{ 'FEPhone' | translate }}
                                    </a>
                                </div>
                                <div class="mx-4 mx-lg-0">
                                    <div class="cursor-pointer font-weight-bold mx-3"
                                        [ngClass]="globals.initHeader.state ? 'text-dark' : 'text-white'"
                                        style="width: 20px;" (click)="search.showSearch()">
                                        <i class="far fa-search" *ngIf="!search.icon"></i>
                                        <i class="fal fa-times" *ngIf="search.icon"></i>
                                    </div>
                                    <div class="search" *ngIf="search.icon">
                                        <input type="text" id="search" (keyup.enter)="search.onSearch();" autofocus
                                            [(ngModel)]="search.value" autocomplete="off"
                                            class="form-control input-search w-100"
                                            placeholder="{{ 'FESearch.search' | translate }}" />

                                        <div class="position-absolute cursor-pointer" style="top: 14px; right: 15px;"
                                            (click)="search.onSearch()">
                                            <i class="far fa-search text-black-50"></i>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="d-flex align-items-center justify-content-between pl-3 border-left border-secondary">
                                    <div class="language"
                                        [ngClass]="globals.initHeader.state ? 'text-dark' : 'text-white'"
                                        *ngFor="let item of mutiLang.data; let i = index" (click)="onLanguage(item.id)">
                                        <span class="text-uppercase small"
                                            [ngClass]="{'language-active': item.id == mutiLang.active.id}">
                                            {{ item.code }}
                                        </span>
                                        <span class="mr-1" *ngIf="i < mutiLang.data.length - 1">-</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="m-0" [ngClass]="globals.initHeader.state ? 'visible' : 'invisible'" />
                </div>
            </div>
        </div>
        <div id="header-center" class="header-center w-100">
            <div class="container-main">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 px-0 px-md-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <a class="header__logo d-block" [routerLink]="['/' + mutiLang.active.code]"
                                    (click)="handleLogoClick()">
                                    <img class="w-100 h-100"
                                        [src]="globals.initHeader.state ? globals.company.logo : globals.company.logo_white"
                                        [alt]="globals.company.name" />
                                </a>
                                <div class="d-flex align-items-center">
                                    <div class="d-block d-md-none">
                                        <div class="language small float-left"
                                            [ngClass]="globals.initHeader.state ? 'text-dark' : 'text-white'"
                                            *ngFor="let item of mutiLang.data; let i = index"
                                            (click)="onLanguage(item.id)">
                                            <span class="text-uppercase"
                                                [ngClass]="{'language-active': item.id == mutiLang.active.id }">
                                                {{ item.code}}
                                            </span>
                                            <span class="mr-1" *ngIf="i < mutiLang.data.length -1">-</span>
                                        </div>
                                    </div>
                                    <div class="d-block d-md-none">
                                        <div class="cursor-pointer font-weight-bold ml-4"
                                            [ngClass]="globals.initHeader.state ? 'text-dark' : 'text-white'"
                                            style="width: 20px;" (click)="search.showSearch()">
                                            <i class="far fa-search" *ngIf="!search.icon"></i>
                                            <i class="fal fa-times" *ngIf="search.icon"></i>
                                        </div>
                                        <div class="search" *ngIf="search.icon">
                                            <input type="text" id="search" (keyup.enter)="search.onSearch();" autofocus
                                                [(ngModel)]="search.value" autocomplete="off"
                                                class="form-control input-search w-100"
                                                placeholder="{{ 'FESearch.search' | translate }}" />

                                            <div class="position-absolute cursor-pointer"
                                                style="top: 14px; right: 15px;" (click)="search.onSearch()">
                                                <i class="far fa-search text-black-50"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="d-none d-lg-block">
                                            <app-menu></app-menu>
                                        </div>
                                        <div class="ml-2 d-lg-none d-block pt-2 pb-2">
                                            <button (click)="menuMobile.onMenu(!menuMobile.show)"
                                                class="btn bg-transparent nav-open-btn"
                                                [ngClass]="{'active': menuMobile.show == false }">
                                                <span class="line line1 d-block"
                                                    [ngClass]="globals.initHeader.state ? 'bg-dark' : 'bg-white'"></span>
                                                <span class="line line1 d-block"
                                                    [ngClass]="globals.initHeader.state ? 'bg-dark' : 'bg-white'"></span>
                                                <span class="line line1 d-block"
                                                    [ngClass]="globals.initHeader.state ? 'bg-dark' : 'bg-white'"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="menu-mobi" class="menu-mobi menu-mobi-hidden w-100 bg-white">
    <app-menu-mobile (menumobile)="menuMobile.onMenu(!menuMobile.show)"></app-menu-mobile>
</div>

<!-- <div class="menu--bg" [ngClass]="menuActive ? 'd-block' : 'd-none'"></div> -->