<div class="bg-light page-bg position-relative d-flex flex-column justify-content-center"
    [ngStyle]="{'background-image': 'url(' + contact.data.background + ')'}"
    [ngClass]="{'pageBgActive': !contact.data.background}">
    <div class="container-main w-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-page">
                        <nav aria-label="breadcrumb" *ngIf="contact.data.name?.length">
                            <ol class="breadcrumb bg-transparent border-0 m-0 p-0">
                                <li class="breadcrumb-item" aria-current="page">
                                    <a [routerLink]="['/']" [ngClass]="{'text-white': contact.data.background}">
                                        <p class="breadcrumb-item-text d-inline-block mb-0" translate>
                                            lblHome
                                        </p>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active"
                                    [ngClass]="{'breadcrumbActive': contact.data.background}" aria-current="page">
                                    <p class="breadcrumb-item-text d-inline-block mb-0">{{ contact.data.name }}
                                    </p>
                                </li>
                            </ol>
                        </nav>

                        <h1 class="color font-weight-bold mt-4">{{ contact.data.name }}</h1>
                        <p class="contact-heading__desc text-white text-justify">{{ contact.data.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-content">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row pb-4">
                <div class="px-3">
                    <div class="col-12 bg-light px-0 d-block d-md-none shadow">
                        <div class="icon"
                            *ngIf="('FECompanyName' | translate) != 'FECompanyName' && ('FECompanyName' | translate) != ''">
                            <h4 class="font-weight-bold mb-0 py-2 text-center text-white"
                                style="background-color: #ed3338; font-size: 20px;">{{ 'FECompanyName' | translate }}
                            </h4>
                        </div>
                        <div class="p-3">
                            <div class="icon mb-3"
                                *ngIf="('FEAddress' | translate) != 'FEAddress' && ('FEAddress' | translate) != ''">
                                <div class="font-weight-bold d-inline-block ">
                                    <i class="fas fa-map-marker-alt mr-1"></i>
                                    {{ ('lblAddress' | translate) + ': ' }}
                                </div>
                                <div style="width: 80%;" class="d-inline">
                                    {{ 'FEAddress' | translate }}
                                </div>
                            </div>
                            <div class="icon mb-3"
                                *ngIf="('FETaxCode' | translate) != 'FETaxCode' && ('FETaxCode' | translate) != ''">
                                <div class="font-weight-bold d-inline-block mr-2">
                                    <i class="fas fa-building mr-1"></i>
                                    {{ 'lblTaxCode' | translate }}:
                                </div>
                                <div class="d-inline-block">
                                    {{ 'FETaxCode' | translate }}
                                </div>
                            </div>
                            <div class="icon mb-3"
                                *ngIf="('FEPhone' | translate)!='FEPhone' || ('FEPhone_2' | translate)!='FEPhone_2'">
                                <div class="font-weight-bold d-inline-block mr-2">
                                    <i class="fas fa-headset mr-1"></i>
                                    {{ 'lblHotline' | translate }}:
                                </div>
                                <a href="tel:{{ 'FEPhone' | translate }}" style="color: black;">
                                    {{ 'FEPhone' | translate }}
                                </a>
                            </div>
                            <div class="icon mb-3"
                                *ngIf="('FEPhone' | translate)!='FEPhone' || ('FEPhone_2' | translate)!='FEPhone_2'">
                                <div class="font-weight-bold d-inline-block mr-2">
                                    <i class="fas fa-phone-alt mr-1"></i>
                                    {{ 'lblPhone' | translate }}:
                                </div>
                                <a href="tel:{{ 'FEPhone_2' | translate }}" style="color: black;">
                                    {{ 'FEPhone_2' | translate }}
                                </a>
                            </div>
                            <div class="icon mb-3" *ngIf="('FEFax' | translate)!='FEFax' && ('FEFax' | translate)!=''">
                                <div class="font-weight-bold d-inline-block mr-2">
                                    <i class="fas fa-fax mr-1"></i>
                                    {{ 'lblFax' | translate }}:
                                </div>
                                <a href="tel:{{ 'FEFax' | translate }}" style="color: black;">
                                    {{ 'FEFax' | translate }}
                                </a>
                            </div>
                            <div class="icon mb-3"
                                *ngIf="('FEMail' | translate)!='FEMail' && ('FEMail' | translate)!=''">
                                <div class="font-weight-bold d-inline-block mr-2">
                                    <i class="fas fa-envelope mr-1"></i>
                                    {{ 'lblEmail' | translate }}:
                                </div>
                                <a href="mailto:{{ 'FEMail' | translate }}" style="color: black;">
                                    {{ 'FEMail' | translate }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                    <div class="shadow" *ngIf="contact.data.detail?.length">
                        <div class="title-contact mb-4">
                            <span
                                class="d-inline-block ml-md-n3 ml-n2 position-relative px-3 py-1 text-white titleContact  text-uppercase"
                                style="background-color: var(--color);">
                                {{ 'FEContact.ourMessage' | translate }}</span>
                        </div>
                        <div class="pl-3 pb-1" [innerHTML]="contact.data.detail | sanitizeHtml"></div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="title-contact mb-4">
                        <span
                            class="d-inline-block ml-md-n3 ml-n2 position-relative px-3 py-1 text-white titleContact text-uppercase"
                            style="background-color: var(--color);">
                            {{ 'FEContact.titleForm' | translate }}</span>
                    </div>
                    <div class="content-contact">
                        <form [formGroup]="fm" *ngIf="fm">
                            <div class="form-group">
                                <input type="text" autocomplete="off" class="form-control form-control-sm" name="name"
                                    formControlName="name" [placeholder]="'FEContact.name' | translate">
                                <small style="color:red" *ngIf="fm.get('name').invalid && fm.get('name').touched">{{
                                    'message.required' | translate }}</small>
                            </div>
                            <div class="d-md-flex">
                                <div class="form-group w-100 mr-3">
                                    <input type="email" autocomplete="off" class="form-control form-control-sm"
                                        name="email" formControlName="email"
                                        [placeholder]="'FEContact.email' | translate">
                                    <small style="color:red"
                                        *ngIf="fm.get('email').invalid && fm.get('email').touched">{{
                                        'message.email' | translate }}</small>
                                </div>
                                <div class="form-group w-100">
                                    <input type="text" autocomplete="off" class="form-control form-control-sm"
                                        name="phone" formControlName="phone"
                                        [placeholder]="'FEContact.phone' | translate">
                                    <small style="color:red"
                                        *ngIf="fm.get('phone').invalid && fm.get('phone').touched">{{
                                        'message.phone' | translate }}</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" autocomplete="off" class="form-control form-control-sm"
                                    name="subject" formControlName="subject"
                                    [placeholder]="'FEContact.subject' | translate">
                                <small style="color:red"
                                    *ngIf="fm.get('subject').invalid && fm.get('subject').touched">{{
                                    'message.required' | translate }}</small>
                            </div>
                            <div class="form-group">
                                <textarea type="text" autocomplete="off" name="message" rows="4"
                                    formControlName="message" class="form-control form-control-sm py-0"
                                    [placeholder]="'FEContact.message' | translate"></textarea>
                                <small style="color:red"
                                    *ngIf="fm.get('message').invalid && fm.get('message').touched">{{
                                    'message.required' | translate }}</small>
                            </div>
                        </form>
                        <div class="text-right">
                            <button type="button" class="btn btn-outline-danger animation-contact"
                                (click)="contact.addContact()">
                                {{ 'FEbtn.send' | translate }}
                                <i class="fas fa-paper-plane  ml-1"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div [innerHTML]="('FEMap' | translate) | sanitizeHtml" class="d-flex overflow-hidden my-4"
                *ngIf="('FEMap' | translate)?.length"></div>
            <!-- <div class=" contact-info position-absolute bg-white shadow-lg d-none d-md-block">
                <div class="icon"
                    *ngIf="('FECompanyName' | translate) != 'FECompanyName' && ('FECompanyName' | translate) != ''">
                    <h4 class="font-weight-bold mb-3 py-2 text-center text-white" style="background-color: #ed3338;">{{
                        'FECompanyName' | translate }}</h4>
                </div>
                <div class="px-3">
                    <div class="icon mb-3"
                        *ngIf="('FEAddress' | translate) != 'FEAddress' && ('FEAddress' | translate) != ''">
                        <div class="font-weight-bold d-inline-block ">
                            <i class="fas fa-map-marker-alt mr-1"></i>
                            {{ ('lblAddress' | translate) + ': ' }}
                        </div>
                        <div style="width: 80%;" class="d-inline">
                            {{ 'FEAddress' | translate }}
                        </div>
                    </div>
                    <div class="icon mb-3"
                        *ngIf="('FETaxCode' | translate) != 'FETaxCode' && ('FETaxCode' | translate) != ''">
                        <div class="font-weight-bold d-inline-block mr-2">
                            <i class="fas fa-building mr-1"></i>
                            {{ 'lblTaxCode' | translate }}:
                        </div>
                        <div class="d-inline-block">
                            {{ 'FETaxCode' | translate }}
                        </div>
                    </div>
                    <div class="icon mb-3"
                        *ngIf="(('FEMail' | translate) != 'FEMail' && ('FEMail' | translate) != '') || (('FEMail_2' | translate) != 'FEMail_2' && ('FEMail_2' | translate) != '')">
                        <div class="font-weight-bold d-inline-block mr-2">
                            <i class="fas fa-envelope mr-1"></i>
                            {{ 'lblEmail' | translate }}:
                        </div>
                        <a href="mailto:{{ 'FEMail' | translate }}" class="text-dark">
                            {{ 'FEMail' | translate }}
                        </a>
                        <span class="mx-2"
                            *ngIf="('FEMail_2' | translate) != 'FEMail_2' && ('FEMail_2' | translate) != ''">
                            -
                        </span>
                        <a *ngIf="('FEMail_2' | translate) != 'FEMail_2' && ('FEMail_2' | translate) != ''"
                            href="mailto:{{ 'FEMail_2' | translate }}" class="text-dark">
                            {{ 'FEMail_2' | translate }}
                        </a>
                    </div>
                    <div class="icon mb-3"
                        *ngIf="(('FEPhone' | translate) != 'FEPhone' && ('FEPhone' | translate) != '') || (('FEPhone_2' | translate) != 'FEPhone_2' && ('FEPhone_2' | translate) != '')">
                        <div class="font-weight-bold d-inline-block mr-2">
                            <i class="fas fa-phone-alt mr-1"></i>
                            {{ 'lblPhone' | translate }}:
                        </div>
                        <a href="tel:{{ 'FEPhone' | translate }}" class="text-dark">
                            {{ 'FEPhone' | translate }}
                        </a>
                        <span class="mx-2"
                            *ngIf="('FEPhone_2' | translate) != 'FEPhone_2' && ('FEPhone_2' | translate) != ''">
                            -
                        </span>
                        <a *ngIf="('FEPhone_2' | translate) != 'FEPhone_2' && ('FEPhone_2' | translate) != ''"
                            href="tel:{{ 'FEPhone_2' | translate }}" class="text-dark">
                            {{ 'FEPhone_2' | translate }}
                        </a>
                    </div>
                    <div class="icon mb-3" *ngIf="(('FEFax' | translate) != 'FEFax' && ('FEFax' | translate) != '')">
                        <div class="font-weight-bold d-inline-block mr-2">
                            <i class="fas fa-fax mr-1"></i>
                            {{ 'lblFax' | translate }}:
                        </div>
                        <span class="text-dark">{{ 'FEFax' | translate }}</span>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>