@import 'src/style/mixins';

.br-text::before {
    content: '';
    margin-right: 10px;
    border-top: 2px solid #ed1d24;
    width: 3.125rem;
}

.icon i {
    color: #ed1d24;
}

.title-contact h2 {
    font-size: 45px;
}

.info-contact a {
    text-decoration: none;
    color: #373940;
    display: block;
}

.title-contact h2,
.title-contact h2 span {
    text-transform: capitalize;
    font-size: 44px;
}

input:focus,
textarea:focus {
    box-shadow: none !important;
    border: 1px solid #ed1d24 !important;
}

.form-control:focus {
    box-shadow: none;
}

.footer-social {
    color: #a2a2a2;
    display: inline-block;
    transition: all 0.3s;
    font-size: 16px;
    padding: 0 13px;
}

.footer-social:hover {
    transform: scale(1.2);
    animation-delay: 0s;
}

@media (max-width: 1025px) {
    .title-contact p {
        font-size: 17px;
    }
}

.contact-content {
    padding-top: 20px;
}

.titleContact::after {
    content: '';
    position: absolute;
    left: 0;
    width: 16px;
    float: left;
    color: transparent;
    border-top: 14px solid;
    border-right: 0px solid transparent;
    border-left: 14px solid transparent;
    color: #921d20;
    z-index: 1;
    top: 32px;
}

.contact-info {
    --space: 20px;
    top: 50%;
    right: calc(var(--space) * 6.25);
    width: 25%;
    transform: translateY(-50%);
}

.page-bg {
    /* padding: 170px 0; */
    z-index: 1;
    /* margin-top: -117.5px; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 390px;
}
.page-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: linear-gradient(160deg, #010f27 40%, #595959 70%);
    z-index: -1;
}

.contact-heading {
    &__desc {
        max-width: 80%;
        @include viewport-sm {
            max-width: 100%;
        }
    }
}
