@import "mixins";

@keyframes sidebar {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    60% {
        opacity: 0;
        transform: translateY(25px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    60% {
        opacity: 0;
        transform: translateY(-25px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}
@keyframes navbar-fixed {
    from {
        opacity: 0;
        transform: translateY(-75px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes video-circle-anim {
    0% {
        transform: rotate(0) scale(0.5) skew(1deg);
        opacity: 0.1;
    }
    30% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.5;
    }
    100% {
        transform: rotate(0) scale(1.2) skew(1.2deg);
        opacity: 0.1;
    }
}
@keyframes categoryEffect {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes rotateAbout {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}
@keyframes pageAbout_item2 {
    to {
        opacity: 1;
        transform: translateX(-150px);
    }
}
@keyframes pageAbout_item5 {
    to {
        opacity: 1;
        transform: translateX(150px);
    }
}
