$color: #ed3338;
$color2: #bc2029;
$color3: #939598;
$color4: #595a5c;

$w-xs: 375px;
$w-sm: 425px;
$w-md: 768px;
$w-lg: 1024px;

@mixin viewport-xl {
    // min 1025
    @media screen and (min-width: #{$w-lg + 1px}) {
        @content;
    }
}
@mixin viewport-lg {
    // from 769 to 1024
    @media screen and (min-width: #{$w-md + 1px}) and (max-width: $w-lg) {
        @content;
    }
}
@mixin viewport-md {
    // from 426 to 768
    @media screen and (min-width: #{$w-sm + 1px}) and (max-width: $w-md) {
        @content;
    }
}
@mixin viewport-sm {
    // from 376 to 425
    @media screen and (max-width: $w-sm) {
        @content;
    }
}
// Responsive

@mixin line-clamp($line) {
    -webkit-line-clamp: $line;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
// lineClamp

@mixin pseudoService($t, $r, $b, $l, $w, $h) {
    content: '';
    position: absolute;
    @include categoryPosition($t, $r, $b, $l);
    width: $w;
    height: $h;
    background-color: $color2;
    transition: 0.2s linear;
}
@mixin hoverPseudoService($delay, $w, $h) {
    transition-delay: $delay;
    width: $w;
    height: $h;
}
// Service

@mixin pseudoHeading($w, $ml) {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: $w;
    height: 2px;
    margin-left: $ml;
    background-color: $color2;
}
// Heading

@mixin categoryPosition($t, $r, $b, $l) {
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
}

@mixin beforePseudo($w, $h) {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: $w;
    height: $h;
}
// before pseudo class
