@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import 'mixins';
@import 'animations';

:root,
::before,
::after {
    --color: #e83136;
    --colorText: #666;
    --secondaryColor: #ed3338;
    --rootFont: 'Inter', sans-serif;
    --scrollbar: 8px;
    --h-header: 117px;
}
body {
    overflow-x: hidden;
    font-family: var(--rootFont);
}
.container-main {
    margin: 0 auto;
    max-width: 1140px;
}
a,
a img {
    transition: 0.2s ease-out;
}
button:focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}
.color {
    color: var(--color) !important;
}
.cursor-pointer {
    cursor: pointer;
}
.active {
    color: var(--color);
}

.map-contact iframe {
    width: 100%;
    display: block;
}

.content-page img,
#contentDetail img,
#chips-detail img {
    max-width: 100% !important;
    height: auto !important;
}

.fixed-action-btn {
    position: fixed;
    bottom: 65px;
    right: 24px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 2;
}

.fixed-action-btn .getlistadd {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: red;
}

.asidebar {
    position: fixed;
    top: 50px;
    padding-top: 20px;
    z-index: 9;
    width: 200px;
    height: 100%;
    animation: 0.7s sidebar;
}

#slide .item {
    width: 100%;
    height: 100%;
}

// breadcrumb
.breadcrumb-item a {
    color: #212529;
}

.breadcrumb-item.active {
    color: var(--color);
}

.breadcrumb-item:hover a {
    text-decoration: underline;
}

//price product
.card-body .ng5-slider .ng5-slider-pointer {
    width: 15px;
    height: 15px;
    top: -6px;
    outline: none;
}

.card-body .ng5-slider .ng5-slider-pointer.ng5-slider-active::after {
    background-color: transparent !important;
}

button[disabled] {
    border: 1px solid #cccccc !important;
    background-color: #cccccc !important;
    color: #8a8a8a !important;
}

// modules owl-carousel -> reset default style
.owl-carousel.owl-theme {
    height: 100%;
    position: relative;
    .owl-nav {
        margin-top: 0;
        @include viewport-sm {
            display: none;
        }
        .owl-prev,
        .owl-next {
            margin: 0;
            padding: 0;
            position: absolute;
            top: 50%;
            border-radius: 0;
            transform: translateY(-50%);
            background-color: transparent;
        }
        .owl-prev {
            left: 0;
        }
        .owl-next {
            right: 0;
        }
    }

    .owl-dots {
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;

        span {
            margin: 0 6px;
            border: 1px solid #fff;
            border-radius: 50%;
        }
    }
}

.slide {
    .active &-description {
        animation: slideUp 1s ease-out;
    }

    .active &-title {
        animation: slideUp 0.67s ease-out;
    }

    .active &-btn {
        animation: slideDown 1.67s ease-out;
    }

    .owl-nav {
        .owl-prev,
        .owl-next {
            opacity: 0.2;
            margin: 0 50px !important;
            @include viewport-md {
                opacity: 0.4;
                margin: 0 16px !important;
            }
        }

        .owl-prev:hover,
        .owl-next:hover {
            opacity: 1;
        }
    }

    .owl-dots {
        --dotSize: 1rem;
        right: 4.6875rem;
        bottom: 1.5rem !important;
        @include viewport-sm {
            right: 32px;
        }

        span {
            background-color: transparent !important;
            transition: 0.25s ease-out !important;
        }

        .active > span {
            width: var(--dotSize);
            height: var(--dotSize);
            background-color: #fff !important;
        }
    }
}

.category {
    .owl-nav {
        .owl-prev,
        .owl-next {
            opacity: 0.2;
        }
        .owl-prev:hover,
        .owl-next:hover {
            opacity: 1;
        }
    }
}
.partner {
    .owl-nav {
        .owl-prev {
            opacity: 0.4;
            margin-left: -40px !important;
        }
        .owl-next {
            opacity: 0.4;
            margin-right: -40px !important;
        }
        .owl-prev:hover,
        .owl-next:hover {
            opacity: 1;
        }
    }
}

.search-modal {
    max-width: unset;
    height: 100vh !important;
    background-color: rgba(0, 0, 0, 0.67);

    .modal-content {
        width: 50% !important;

        @include viewport-lg {
            width: 60% !important;
        }

        @include viewport-md {
            width: 80% !important;
        }

        display: block;
        width: unset;
        border: none;
        border-radius: 0;
        background-color: unset;
    }
}

.navbar-fixed {
    .menu-sub {
        height: calc(100vh - 96px) !important;
    }
    .nav-open-btn span {
        background-color: #fff !important;
    }
}

.scrollbar-hidden {
    @include viewport-xl {
        margin-right: var(--scrollbar);
    }
}

.project .owl {
    &-dots {
        bottom: -48px !important;
        left: 50%;
        transform: translateX(-50%);
    }
    &-dot {
        margin: 0 4px;
        padding: 3px;
        width: 24px;
        height: 24px;

        display: flex !important;
        align-items: center;

        background-color: transparent;
        border-radius: 50%;
        border: 2px solid #fff;

        &.active > span {
            background-color: #fff !important;
        }

        > span {
            margin: 0 !important;
            width: 100% !important;
            height: 100% !important;
            background-color: transparent !important;
            border-color: transparent !important;
        }
    }

    &-stage {
        padding-top: 1px;
        padding-bottom: 5px;

        @include viewport-sm {
            padding-left: 0 !important;
        }
    }
}

.content .owl {
    &-stage {
        @include viewport-sm {
            padding-left: 0 !important;
        }
    }
}

.social {
    &-facebook {
        color: #3f78f2 !important;
    }
    &-youtube {
        color: #ed2400 !important;
    }
    &-skype {
        color: #49a2da !important;
    }
    &-instagram {
        color: #d12f75 !important;
    }
    &-zalo {
        color: #3b65f7 !important;
    }
}

.breadcrumbActive.breadcrumb-item::before {
    color: white;
}

.detail-page {
    margin-bottom: 36px;
    position: relative;
    z-index: 1;
}

.is--stacking {
    position: relative;
    z-index: 1;
}

.page_profile {
    .owl-carousel.owl-theme {
        .owl-item {
            padding: 5px;
        }
        .owl-nav {
            .owl-prev {
                left: -60px;
            }
            .owl-next {
                right: -60px;
            }
        }
    }
}

.detail_related-box .content {
    color: #fff !important;
}
