<form [formGroup]="fm"
      *ngIf="fm"
      (submit)='$event.stopPropagation()'>
    <div class="card w-100">
        <div class="card-header d-flex justify-content-between">
            <strong>{{ ((id && id !=0)?'pages.edit':'pages.add') | translate : {name : fm.value.name} }}</strong>
            <i style="font-size: 1.5rem;cursor: pointer;"
               (click)="openModal(DevTemplate)"
               class="fas fa-info-circle text-dark"></i>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-5">
                        <div class="form-group">
                            <label>{{ 'lblName' | translate }}</label>
                            <input type="text"
                                   (keyup)="onChangeLink($event)"
                                   class="form-control"
                                   name="name"
                                   formControlName="name"
                                   placeholder="{{ 'lblName' | translate }}"
                                   required>
                            <small style="color:red"
                                   *ngIf="required || fm.get('name').invalid && fm.get('name').touched">{{
                                'message.required' | translate }}</small>
                        </div>

                        <div class="form-group">
                            <label>{{ 'lblLink' | translate }}</label>
                            <input *ngIf="fm.value.type != 1 "
                                   type="text"
                                   (keyup)="link._keyup($event)"
                                   [(ngModel)]="fm.value.link"
                                   class="form-control"
                                   name="link"
                                   formControlName="link"
                                   placeholder="{{ 'lblLink' | translate }}">
                            <input *ngIf="fm.value.type == 1 "
                                   type="text"
                                   class="form-control"
                                   name="link"
                                   formControlName="link"
                                   placeholder="{{ 'lblLink' | translate }}">
                            <small style="color:red"
                                   *ngIf="required || fm.get('link').invalid && fm.get('link').touched">{{
                                'message.required' | translate }}</small>
                        </div>
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text"
                                   class="form-control"
                                   name="title"
                                   formControlName="title">
                        </div>
                        <div class="row">
                            <div class="col-8 pr-md-0">
                                <div class="form-group">
                                    <label>{{ 'lblparent_name' | translate }}</label>
                                    <div>
                                        <select formControlName="parent_id"
                                                class="form-control selectpicker">
                                            <option selected
                                                    [value]='0'>Chọn trang cha</option>
                                            <option *ngFor="let pages of listPages"
                                                    [value]="pages.id">{{pages.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>{{ 'lblOrders' | translate }}</label>
                                    <input type="number"
                                           min="0"
                                           class="form-control"
                                           name="order"
                                           formControlName="orders"
                                           placeholder="{{ 'lblStt' | translate }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-7">
                        <div class="row">
                            <div class="col-3">
                                <label class="mb-1 ml-1">{{ 'lblImages' | translate }}<br /></label>
                                <div class="imagesThumb"
                                     *ngIf="images">
                                    <div *ngFor="let item of images.data; let i = index">
                                        <img [src]="item.src"
                                             *ngIf="item.type==0 || item.type==1" />
                                        <span (click)="images._change($event,item)"
                                              *ngIf="item.type==0 || item.type==1"
                                              class="change">
                                            <i class="far fa-image"></i>
                                        </span>
                                        <span (click)="images._del(i)"
                                              *ngIf="item.type==0 || item.type==1"
                                              class="del">
                                            <i class="fas fa-times"></i>
                                        </span>
                                        <span (click)="images._push($event)"
                                              *ngIf="item.type==2"
                                              class="add">
                                            <i class="fas fa-plus-circle"></i>
                                        </span>
                                    </div>
                                    <input type="file"
                                           (change)="images._onchange($event)"
                                           accept="image/png, image/jpeg">
                                </div>
                                <!-- <small>Page: 167px x 160px / Home: 64px x 64px </small> -->
                            </div>
                            <div class="col-3">
                                <div class="form-group mb-1"
                                     *ngIf="option('background').enable">
                                    <label class="mb-1 ml-1">{{ 'lblBackground' | translate }}</label>
                                    <div class="imagesThumb"
                                         *ngIf="backgrounds"
                                         style="height: 110px;">
                                        <div *ngFor="let item of backgrounds.data; let i = index">
                                            <img [src]="item.src"
                                                 *ngIf="item.type==0 || item.type==1" />
                                            <span (click)="backgrounds._change($event,item)"
                                                  *ngIf="item.type==0 || item.type==1"
                                                  class="change">
                                                <i class="far fa-image"></i>
                                            </span>
                                            <span (click)="backgrounds._del(i)"
                                                  *ngIf="item.type==0 || item.type==1"
                                                  class="del">
                                                <i class="fas fa-times"></i>
                                            </span>
                                            <span (click)="backgrounds._push($event)"
                                                  *ngIf="item.type==2"
                                                  class="add">
                                                <i class="fas fa-plus-circle"></i>
                                            </span>
                                        </div>
                                        <input type="file"
                                               (change)="backgrounds._onchange($event)"
                                               accept="image/png, image/jpeg">
                                    </div>
                                    <small style="margin-left: 12px;">(1440px x 670px)</small>
                                </div>
                            </div>

                            <div class="col-9"
                                 *ngIf="option('listimages').enable">
                                <div>
                                    <label class="mb-1">{{ 'products.listimages' | translate }}</label>
                                    <div class="imagesThumb"
                                         *ngIf="listimages"
                                         style="max-height: 230px;overflow-y: scroll;">
                                        <div *ngFor="let item of listimages.data; let i = index">
                                            <img [src]="item.src"
                                                 *ngIf="item.type==0 || item.type==1" />
                                            <span (click)="listimages._change($event,item)"
                                                  *ngIf="item.type==0 || item.type==1"
                                                  class="change">
                                                <i class="far fa-image"></i>
                                            </span>
                                            <span (click)="listimages._del(i)"
                                                  *ngIf="item.type==0 || item.type==1"
                                                  class="del">
                                                <i class="fas fa-times"></i>
                                            </span>
                                            <span (click)="listimages._push($event)"
                                                  *ngIf="item.type==2"
                                                  class="add">
                                                <i class="fa fa-plus"></i>
                                            </span>
                                        </div>
                                        <input type="file"
                                               (change)="listimages._onchange($event)">
                                    </div>
                                </div>
                                <small style="margin-left: 12px;"> (500px x 300px) </small>
                            </div>
                            <div class="col-12"
                                 *ngIf="option('link_video').enable">
                                <div class="form-group">
                                    <label>{{ 'lblVideo' | translate }}</label>
                                    <input type="text"
                                           class="form-control"
                                           name="link_video"
                                           formControlName="link_video"
                                           placeholder="{{ 'lblVideo' | translate }}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group  pt-2">
                            <label for="exampleFormControlTextarea1">{{ 'lblDescription' | translate }}</label>
                            <textarea formControlName="description"
                                      class="form-control"
                                      id="exampleFormControlTextarea1"
                                      rows="5"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label>{{ 'lblKeyword' | translate }}</label>
                            <input type="text"
                                   class="form-control"
                                   (keyup)="tags._keyup($event)">
                            <div class="keywords mt-3">
                                <button type="button"
                                        class="btn btn-info mr-1 mt-1"
                                        *ngFor="let item of tags.dataList">{{ item}}
                                    <i class="fas fa-times text-danger"
                                       (click)="tags._remove(item)"></i>
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ 'lblDetail' | translate }}</label>
                            <ckeditor id="ckeditorDetail"
                                      class="ckeditorDetail"
                                      [config]="globals.configCkeditor"
                                      data="detail"
                                      formControlName="detail">
                            </ckeditor>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="float-left">
                <label class="lable-switch pull-left">
                    <div class="switch">
                        <input checked="checked"
                               formControlName="status"
                               type="checkbox"
                               name="status">
                        <span class="lever"></span>
                    </div>
                    <span ng-bind="lang.lbl_status_on"
                          class="ng-binding">{{ (fm.value.status == 1 ? 'status.on' :
                        'status.off') | translate
                        }}</span>
                </label>
            </div>
            <button type="button"
                    (click)="onSubmit()"
                    class="btn btn-success float-right">{{ 'btn.save'
                | translate }}</button>
            <button type="button"
                    [routerLink]="[(id && id !=0)?'../../get-list':'../get-list']"
                    class="btn btn-primary float-right mr-2">{{ 'btn.back'
                | translate }}
            </button>
        </div>
    </div>
</form>

<ng-template #DevTemplate>
    <div class="modal-header">
        <h6 class="modal-title pull-left font-weight-bold">Tuỳ chọn hiển thị</h6>
        <button type="button"
                class="close pull-right"
                aria-label="Close"
                (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body px-md-5">
        <div class="option d-flex justify-content-between align-items-center"
             *ngFor="let option of optionFields"
             style="height: 50px;">
            <div class="option-name">{{option.name | translate }}</div>
            <input [checked]="option.enable"
                   (change)="optionChanged(option)"
                   type="checkbox"
                   name="option.field"
                   id="option.field">
        </div>
    </div>
</ng-template>