.right-asidebar {
    position: relative;
    overflow: hidden;
    position: sticky;
    top: 16px;

    h3 {
        background: var(--color);
        padding-left: 40px;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        padding: 15px;
    }
}

.description {
    border: 1px dashed rgb(48, 47, 47);
}

.breadcrumb {
    &--active:hover &__flyout {
        display: block;
        left: 22px;
    }
    &--active i {
        font-size: 13px;
    }
    &__flyout {
        &-item:hover {
            color: #fff;
            background-color: var(--color);
        }
    }
}

.detail {
    padding: 78px 0;
}
