@import 'src/style/mixins';

.menu {
  position: relative;

  > nav {
    align-items: unset;

    > ul {
      overflow: hidden auto;
    }
  }
}

.menu li {
  transition: 0.2s;
}

.menu-child .menu-child-title {
  border-bottom: solid 1px var(--color) !important;
  background-color: var(--color) !important;
  color: white;
}

.menu nav ul li.nav-item:last-child {
  border-bottom: none;
}

@include viewport-md {
  .navbar-nav {
    margin-top: 25px;
  }
}

.mobile-slider {
  position: absolute;
  left: 100%;
  background-color: white;
  height: 100%;
  width: 100%;
  z-index: 5;
  top: 0;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
  overflow: hidden;
}

.active-menu-child.menu-child {
  left: 0;
  visibility: visible;
  opacity: 1;
  overflow: hidden auto;
}
