<!-- breadcrumb | type = 2 or 3, code != 'about' or 'resources' -->
<div class="bg-light page-bg position-relative d-flex flex-column justify-content-center"
    [ngStyle]="{'background-image': 'url(' + (data.background ? data.background : '../../../../assets/img/bg_default.png') + ')'}"
    [ngClass]="{'pageBgActive': !data.background , 'page-bg--height' : data.codepage !== 'resources' && data.codepage !== 'company' && data.parent_links === null}"
    *ngIf="activeCode; else aboutAndResources">
    <div class="page-heading-container position-relative h-100">
        <div class="container-main h-100">
            <div class="container-fluid h-100 d-flex flex-column justify-content-center">
                <!-- breadcrumb -->
                <div class="d-none d-md-block mb-4">
                    <nav aria-label="breadcrumb" *ngIf="data.name && data.name.length > 0">
                        <ol class="breadcrumb bg-transparent border-0 m-0 p-0">
                            <!-- home -->
                            <li class="breadcrumb-item">
                                <a class="breadcrumb-item-text text-decoration-none text-white" [routerLink]="['/']">
                                    {{ 'lblHome' | translate }}
                                </a>
                            </li>

                            <!-- parent names -->
                            <li class="breadcrumb-item breadcrumb--active position-relative"
                                *ngIf="data.parent_names !== null && data.parent_links !== null">
                                <a class="breadcrumb-item-text text-decoration-none text-white"
                                    [routerLink]="[(data.codepage !== 'resources' && data.codepage !== 'company') ? ('/' + language + data.parent_links) : ('/' + language + '/' + data.parent_link + '/' + data.link)]">
                                    {{ data.parent_names }}
                                </a>
                                <ul class="dropdown-menu breadcrumb__flyout mt-0"
                                    *ngIf="data.groups && data.groups.length > 0">
                                    <li *ngFor="let item of data.groups">
                                        <a class="dropdown-item breadcrumb__flyout-item px-3 text-decoration-none"
                                            [routerLink]="['/' + language + item.parent_link + '/' + item.link]">
                                            {{ item.name }}
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <!-- parent name -->
                            <li class="breadcrumb-item breadcrumb--active position-relative"
                                *ngIf="data.parent_name && data.parent_name !== null">
                                <a class="breadcrumb-item-text text-decoration-none text-white cursor-pointer"
                                    [routerLink]="[(data.codepage !== 'resources' && data.codepage !== 'company') ? ('/' + language + data.parent_link) : data.parent_detail == 1 ? ('/' + language + data.parent_links + '/' + data.parent_link) : ('/' + language + data.parent_link + '/' + data.link)]">
                                    {{ data.parent_name }}
                                </a>
                                <ul class="dropdown-menu breadcrumb__flyout mt-0"
                                    *ngIf="data.group && data.group.length > 0">
                                    <li *ngFor="let item of data.group">
                                        <a class="dropdown-item breadcrumb__flyout-item px-3 text-decoration-none"
                                            [routerLink]="['/' + language + item.parent_link + '/' + item.link]">
                                            {{ item.name }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- name -->
                            <li class="breadcrumb-item breadcrumb--active position-relative">
                                <a class="breadcrumb-item-text text-decoration-none cursor-pointer color">
                                    {{ data.name }}
                                </a>
                                <ul class="dropdown-menu breadcrumb__flyout mt-0"
                                    *ngIf="data.data && data.data.length > 0 && data.codepage !== 'resources' && data.codepage !== 'company'">
                                    <li *ngFor="let item of data.data">
                                        <a class="dropdown-item breadcrumb__flyout-item px-3 text-decoration-none"
                                            *ngIf="data.name !== item.name"
                                            [routerLink]="['/' + language + item.parent_link + '/' + item.link]">
                                            {{ item.name }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ol>
                    </nav>
                </div>
                <!-- heading here -->
                <div class="w-100 d-flex align-items-center" *ngIf="data.code !== 'recruitment'">
                    <div class="page-heading mb-4" *ngIf="data.name && data.name !== ''">
                        <h1 class="color font-weight-bold">{{ data.name }}</h1>
                        <p class="page-heading__description  text-justify text-white pr-2 overflow-auto"
                            [innerHTML]="data.description | sanitizeHtml"></p>
                    </div>
                </div>
                <div class="row my-0 my-md-5 justify-content-between align-items-end"
                    *ngIf="data.code === 'recruitment' && data.data && data.data.length > 0">
                    <div class="col-12 col-md-8">
                        <div class="bg-title-careers">
                            <h1 class="color font-weight-bold">{{ data.title }}</h1>
                            <p class="text-justify text-white overflow-auto"
                                [innerHTML]="data.description | sanitizeHtml"></p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 my-3 my-md-0">
                        <div class="title-careers bg-warning">
                            <a class="nav-link text-body"
                                [routerLink]="['/' + globals.language.getCode() + '/' + data.data[0].parent_link + '/' + data.data[0].link]">
                                {{ data.data[0].title }}
                                <i class="fal fa-chevron-right ml-1 small"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb | code = 'about' or 'resources' -->
<ng-template #aboutAndResources>
    <div class="bg-light aboutAndResources position-relative d-none d-md-block"
        [ngStyle]="{'background-image': 'url(' + (data.background ? data.background : '../../../../assets/img/bg_default_sm.png') + ')'}"
        [ngClass]="{'pageBgActive': !data.background}">
        <div class="container-main">
            <div class="container-fluid">
                <div class="title-page">
                    <!-- breadcrumb -->
                    <div class="d-none d-md-block">
                        <nav aria-label="breadcrumb" *ngIf="data.name && data.name.length > 0">
                            <ol class="breadcrumb bg-transparent border-0 m-0 p-0">
                                <!-- home -->
                                <li class="breadcrumb-item">
                                    <a class="breadcrumb-item-text text-decoration-none text-white"
                                        [routerLink]="['/']">
                                        {{ 'lblHome' | translate }}
                                    </a>
                                </li>

                                <!-- parent names -->
                                <li class="breadcrumb-item"
                                    *ngIf="data.parent_names !== null && data.parent_links !== null">
                                    <a class="breadcrumb-item-text text-decoration-none text-white"
                                        [routerLink]="['/' + language + data.parent_links]">
                                        {{ data.parent_names }}
                                    </a>
                                </li>

                                <!-- parent name -->
                                <li class="breadcrumb-item breadcrumb--active position-relative"
                                    *ngIf="data.parent_name && data.parent_name !== null">
                                    <a class="breadcrumb-item-text text-decoration-none text-white cursor-pointer"
                                        [routerLink]="['/' + language + data.parent_link]">
                                        {{ data.parent_name }}
                                    </a>
                                    <ul class="dropdown-menu breadcrumb__flyout mt-0"
                                        *ngIf="data.group && data.group.length > 0 && data.code !== 'about' && data.code !== 'company'">
                                        <li *ngFor="let item of data.group">
                                            <a class="dropdown-item breadcrumb__flyout-item px-3 text-decoration-none"
                                                [routerLink]="['/' + language + item.parent_link + '/' + item.link]">
                                                {{ item.name }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <!-- name -->
                                <li class="breadcrumb-item breadcrumb--active position-relative">
                                    <a class="breadcrumb-item-text text-decoration-none cursor-pointer color">
                                        {{ data.name }}
                                    </a>
                                    <ul class="dropdown-menu breadcrumb__flyout mt-0"
                                        *ngIf="data.data && data.data.length > 0 && data.code !== 'about' && data.code !== 'company'">
                                        <li *ngFor="let item of data.data">
                                            <a class="dropdown-item breadcrumb__flyout-item px-3 text-decoration-none"
                                                *ngIf="data.name !== item.name"
                                                [routerLink]="['/' + language + item.parent_link + '/' + item.link]">
                                                {{ item.name }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- heading here -->
                <div class="page-heading mt-4" *ngIf="data.name && data.name !== ''">
                    <h1 class="color font-weight-bold">{{ data.name }}</h1>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!-- page detail here -->
<div class="page-detail overflow-hidden position-relative">
    <!-- <div class="page-detail overflow-hidden"
	 [ngClass]="{'page-detail--bg position-relative': (+data.type == 2 || +data.type == 3) && data.code !== 'about' && data.code !== 'resources'}"> -->

    <!-- pageView = -1 -> loading here -->
    <div class="container-main py-4" *ngIf="pageView == -1">
        <div class="container-fluid">
            <div class="position-relative d-flex align-items-center justify-content-center pt-lg-5 pt-4 pb-lg-5 pb-4">
                <img src="../../../../assets/img/loading.gif" width="125px">
                <img class="position-absolute" style="opacity: 0.5;" src="../../../../assets/img/logo.png" width="65px">
            </div>
        </div>
    </div>

    <div class="container-main" *ngIf="pageView == 1 || pageView == 0">
        <!-- type = 2 or 3, code != 'about' -> Page -->
        <div class="container-fluid py-4" *ngIf="(+data.type == 2 || +data.type == 3) && data.code !== 'about'">
            <div *ngIf="data.detail?.length" class="detail-page position-relative" id="contentDetail"
                [innerHTML]="data.detail | sanitizeHtml">
            </div>
            <div class="project mb-4" *ngIf="data.data?.length">
                <owl-carousel-o [options]="options">
                    <ng-container *ngFor="let item of data.data">
                        <ng-template carouselSlide>
                            <app-box-project [item]="item"></app-box-project>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
            <!-- <div class="listBox mt-3"
				 *ngIf="data.data && data.data.length > 0 && +data.type == 2">
				<div class="row">
					<div class="col-md-6 mb-3"
						 *ngFor="let item of data.data; index as i">
						<a class="nav-link p-0 text-body h-100"
						   *ngIf="data.code == 'company'"
						   [routerLink]="['/' + globals.language.getCode() + '/' + item.parent_link + '/' + item.link]">
							<article class="box card rounded-0 border-0 p-3 h-100"
									 style="background-color: rgba(0, 0, 0, 0.295);">
								<figure class="box-inner mb-0">
									<div class="box__img overflow-hidden">
										<h2 class="box__title h5 text-capitalize font-weight-bold text-danger">
											{{ item.name }}
										</h2>
										<span class="text-white mb-3">{{ item.description }}</span>
									</div>
								</figure>
							</article>
						</a>
						<article class="box card rounded-0 border-0 p-3 h-100"
								 *ngIf="data.code !== 'company'"
								 style="background-color: rgba(0, 0, 0, 0.295);">
							<figure class="box-inner mb-0">
								<div class="box__img overflow-hidden">
									<h2 class="box__title h5 text-capitalize font-weight-bold text-danger">
										{{ item.name }}
									</h2>
									<div class="detail-page text-white mt-3"
										 id="contentDetail"
										 [innerHTML]="item.detail | sanitizeHtml"></div>
								</div>
							</figure>
						</article>
					</div>
				</div>
			</div> -->
        </div>

        <!-- type = 2, code = 'about' -> Company -->
        <div class="container-fluid is--stacking" *ngIf="+data.type === 2 && data.code === 'about'">
            <div class="pageAbout">
                <div class="detail-page mb-4" *ngIf="data.detail?.length" id="contentDetail"
                    [innerHTML]="data.detail | sanitizeHtml"></div>

                <div class="pageAbout--bg position-relative page_about py-4">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-6 mb-4 mb-md-5"
                            *ngFor="let item of data.data; index as i; even as e; odd as o">
                            <div
                                class="page_about__item rounded-circle shadow bg-white text-center overflow-hidden px-2 mb-3">
                                <img class="img-fluid" width="96" height="96" [src]="item.images" [alt]="item.name" />
                            </div>
                            <h5 class="font-weight-bold text-capitalize">{{ item.name }}</h5>
                            <p [id]="'collapseDescription-' + i"
                                class="pageAbout__content-description collapse pr-md-5 mb-0">
                                {{ item.description }}
                            </p>
                            <a class="pageAbout__content-btn collapsed text-decoration-none text-capitalize cursor-pointer d-inline-flex align-items-end mt-1 color"
                                data-toggle="collapse" [attr.data-target]="'#collapseDescription-' + i"
                                *ngIf="item.description.length >= 200"
                                (click)="collapseDesc = !collapseDesc; activeCollapse = i">
                                {{ ((collapseDesc && activeCollapse == i) ? 'FEbtn.readLess' : 'FEbtn.readMore') |
                                translate }}
                                <i class="fal fa-angle-double-right ml-1"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- page Profile -->
        <div class="container-fluid page_profile is--stacking" *ngIf="+data.type === 2 && data.code === 'profile'">
            <div class="pageAbout">
                <div class="page_profile-container mx-auto">
                    <owl-carousel-o [options]="profile.options">
                        <ng-container *ngFor="let item of data.list_image">
                            <ng-template carouselSlide>
                                <div class="page_profile--bg"
                                    [ngStyle]="{'background-image': 'url(' + globals.BASE_API_URL + 'public/pages/' + item + ')'}">
                                </div>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
            </div>
        </div>

        <!-- type = 4 -> News -->
        <div class="container-fluid is--stacking" *ngIf="+data.type == 4">
            <div *ngIf="data.code === 'recruitment'" style="padding-top: 40px;"
                class="detail-page mt-3 position-relative" id="contentDetail" [innerHTML]="data.detail | sanitizeHtml">
            </div>
            <div class="row py-4" *ngIf="!data.data || data.data.length == 0">
                <!-- list box-content-horizontal -->
                <div class="col-md-9 pr-md-0 ">
                    <div *ngIf="contents.data && contents.data.length > 0">
                        <div class="w-100" style="margin-bottom: 2rem;" *ngFor="let item of contents.data">
                            <box-content-horizontal [item]="item"></box-content-horizontal>
                        </div>
                        <div class="w-100" *ngIf="contents.cached.length > Pagination.itemsPerPage">
                            <pagination class="d-flex justify-content-center my-3" [totalItems]="contents.cached.length"
                                previousText="{{ 'FEbtn.previous' | translate  }}"
                                nextText="{{ 'FEbtn.next' | translate  }}" [itemsPerPage]="Pagination.itemsPerPage"
                                [maxSize]="Pagination.maxSize" (pageChanged)="Pagination.change($event)">
                            </pagination>
                        </div>
                    </div>
                    <div class="align-items-center d-flex justify-content-center" style="height: 300px"
                        *ngIf="pageView == 0 && data.detail == ''">
                        <h4>{{ 'lblUpdating' | translate }}</h4>
                    </div>
                    <div class="w-100 bg-light p-3" *ngIf="data.detail && data.detail != ''" id="contentDetail"
                        [innerHTML]="data.detail | sanitizeHtml"></div>
                </div>
                <!-- group -->
                <div class="col-md-3 order-1 mb-3 mb-md-0">
                    <div class="pos">
                        <nav class="listGroup nav flex-column page-sticky">
                            <li class="nav-item border-bottom border-white" *ngFor="let item of contents.group"
                                [ngStyle]="{'background-color': (item.link === data.link) ? 'var(--color)' : '#f3f7f9'}">
                                <a class="listGroup__link nav-link font-weight-bold"
                                    [ngStyle]="{'color': (item.link === data.link) ? 'white' : 'var(--colorText)'}"
                                    [routerLink]="['/' + globals.language.getCode() + '/' + item.parent_link + '/' + item.link]">
                                    <span>{{ item.name }}</span>
                                </a>
                            </li>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <!-- type = 5 -> library -->
        <div class="container-fluid is--stacking" style="padding-top: 40px;" *ngIf="+data.type == 5">
            <div class="row" *ngIf="data.data && data.data.length > 0">
                <div class="col-12 col-md-2dot4" *ngFor="let item of data.data">
                    <app-box-gallery [item]="item"></app-box-gallery>
                </div>
            </div>
            <div *ngIf="data.list && data.list.length > 0">
                <app-gallery [data]="data.list"></app-gallery>
            </div>
        </div>
    </div>
</div>