@import 'src/style/mixins';

.breadcrumb {
    &--active:hover &__flyout {
        display: block;
        left: 22px;
    }
    &--active i {
        font-size: 13px;
    }
    &__flyout {
        overflow-y: auto;
        max-height: 275px;
        &-item:hover {
            color: #fff;
            background-color: var(--color);
        }
    }
}

.aboutAndResources {
    padding: 78px 0;
    z-index: 1;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        background: linear-gradient(160deg, #010f27 40%, #595959 70%);
        z-index: -1;
    }
}

.page-bg {
    // margin-top: -117.5px;
    &--height {
        height: calc(100vh - var(--h-header));
    }

    min-height: 390px;
    background-repeat: no-repeat;
    background-size: cover;
    // @include viewport-sm {
    //     margin-top: -137.5px;
    // }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        background: linear-gradient(160deg, #010f27 40%, #595959 70%);
        z-index: 2;
    }
}

.page-heading {
    @include viewport-sm {
        width: 100% !important;
    }
    &-container {
        // padding: 150px 0 30px 0;
        z-index: 3;
        // @include viewport-sm {
        //     padding-top: 150px;
        //     padding-bottom: 0;
        // }
    }
    &__description {
        max-width: 80%;
        max-height: 350px;
        @include viewport-sm {
            max-height: 290px;
            max-width: 100%;
        }
        &::-webkit-scrollbar {
            width: 4px;
            background: none;
            &-thumb {
                border-radius: 8px;
                background: #c3c4c6;
            }
            &-track {
                background: none;
                box-shadow: none;
            }
        }
    }
}

// .page-detail--bg {
//   min-height: 550px;
//   background: {
//     image: url(../../../../assets/img/bg_about.jpg);
//     repeat: no-repeat;
//     size: cover;
//     attachment: fixed;
//   }
//   &::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     opacity: 0.9;
//     background: linear-gradient(180deg, #041027 33%, #435565 100%);
//   }
//   &::after {
//     content: '';
//     position: absolute;
//     top: 36px;
//     right: 0;
//     width: 500px;
//     height: 500px;
//     background: {
//       image: url(../../../../assets/img/about-animate.png);
//       repeat: no-repeat;
//       size: cover;
//     }
//     animation: rotateAbout 15s infinite linear;
//     @include viewport-sm {
//       width: 250px;
//       height: 250px;
//     }
//   }
// }

.page-sticky {
    position: sticky;
    top: 0px;
}

.pageAbout {
    &--bg::before {
        z-index: -1;
        @include beforePseudo(100%, 100%);
        background: {
            image: url(../../../../assets/img/atz_profile.png);
            repeat: no-repeat;
            position: center;
            attachment: fixed;
        }
        opacity: 0.5;
    }
    &__content {
        &-description {
            &.collapse:not(.show) {
                @include line-clamp(3);
            }
            &.collapsing {
                min-height: 72px;
            }
        }
        &-btn {
            > i {
                font-size: 20px;
                transition: 0.25s;
            }
            &:hover i {
                transform: translateX(4px);
            }
        }
    }
}

.box {
    border-color: #e7e7e7;
    margin-bottom: 30px;
    background-color: transparent;
    &:hover::before,
    &:hover::after {
        @include hoverPseudoService('', 100%, '');
    }
    &:hover &-inner {
        &::before,
        &::after {
            @include hoverPseudoService(0.2s, '', 100%);
        }
    }
    &:hover &__title {
        color: var(--color);
    }
    &::before {
        @include pseudoService(0, 0, '', '', 0, 2px);
    }
    &::after {
        @include pseudoService('', '', 0, 0, 0, 2px);
    }
    &-inner::before {
        @include pseudoService(0, '', '', 0, 2px, 0);
    }
    &-inner::after {
        @include pseudoService('', 0, 0, '', 2px, 0);
    }
    &__img {
        > img {
            object-fit: contain;
        }
    }
    &__title {
        color: var(--color);
        min-height: 50px;
        @include line-clamp(2);
        @include viewport-sm {
            margin: 0 auto;
        }
    }

    &__line {
        width: 20%;
        transition: 0.33s;
    }
    &:hover &__line {
        width: 50%;
    }
}

.listGroup {
    z-index: 1;
    &__link {
        transition: 0.25s ease;
        &:hover {
            color: white !important;
            background-color: var(--color);
        }
        > i {
            font-size: 22px;
        }
    }
}

.page_profile {
    margin-bottom: 48px;
    @include viewport-sm {
        margin-bottom: 0;
    }
    &-container {
        width: 80%;
        @include viewport-sm {
            width: 100%;
        }
    }
    &--bg {
        height: 627.5px;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        @include viewport-sm {
            height: 272.5px;
        }
    }
}

.title-careers {
    color: white !important;
}
.bg-title-careers {
    padding: 15px;
    background-color: #010f2752;
    > h1 {
        @include viewport-sm {
            font-size: 24px;
        }
    }
}

.page_about {
    &__item {
        --item_about: 112px;
        @include viewport-sm {
            --item_about: 96px;
        }
        width: var(--item_about);
        height: var(--item_about);
        line-height: var(--item_about);
    }
}
