<div class='gallary animate-grid wow fadeInUp pb-lg-5 pb-4' data-wow-delay='0.5s'>
    <div class='row pt-3 pb-2'>
        <div class='col-xs-12 col-md-12'>
            <div class='categories Construction p-2 text-center'>
                <ul class="nav justify-content-center pt-2">
                    <li class="nav-item mr-2">
                        <a href='javascript:' data-filter="*" (click)="library.filter(0)"
                            class="btn btn-filter nav-link" [ngClass]="{'active': library.number == 0}">{{'FEbtn.all' |
                            translate }}</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a href='javascript:' data-filter=".1" (click)="library.filter(1)"
                            class=' btn btn-filter nav-link'
                            [ngClass]="{'active': library.number == 1}">{{'FEbtn.video'| translate }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:" data-filter=".2" (click)="library.filter(2)"
                            class=' btn btn-filter nav-link' [ngClass]="{'active': library.number == 2}">{{ 'FEbtn.img'
                            | translate}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class='row mt-2 mb-2 d-md-none' [ngClass]="(library.number == 1 || library.number==0) ? 'd-flex':'d-none'">
        <div class='col-sm-6 col-md-3 [t-2] 1 p-2 pl-3 pr-3' *ngFor="let item of library.listVideo">
            <div class='gallary-item video-container '>
                <div class='hover-bg w-100 h-100' *ngIf="item.value.changingThisBreaksApplicationSecurity.length > 0">
                    <div class='embed-responsive w-100 position-relative'>
                        <img class="rounded border-0" [src]="item.images" style="object-fit: cover;">
                        <a data-fancybox class="fancybox venobox vbox-item position-absolute" [href]="item.value">
                            <div class="icon-video ">
                                <div class="icon-video-circle d-flex justify-content-center align-items-center ">
                                    <i class="fa fa-play text-white "></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='row m-0 mt-2 mb-2 d-md-none'
        [ngClass]="(library.number == 2 || library.number == 0) ? 'd-flex' : 'd-none'">
        <div class="col-12">
            <div class="row">
                <div class='col-6 col-md-2 p-1' *ngFor="let item of tableLibrary.data">
                    <div class='gallary-item' style="position: relative">
                        <div class='hover-bg' *ngIf="item.images && item.images.length > 0">
                            <a class="fancybox" data-thumbs='{"autoStart":true}' data-fancybox='gallery-mobile'
                                [href]="item.images">
                                <img class='img' [src]="item.images" [alt]="item.name"
                                    style="border-radius:5px;height: 140px; width: 100%;object-fit: cover" />
                                <div class="overlay">
                                    <i class="fas fa-plus icon"></i>
                                </div>
                            </a>
                        </div>
                        <div class='hover-bg' *ngIf="!item.images || item.images.length <= 0">
                            <a class="fancybox" data-thumbs='{"autoStart":true}' data-fancybox='gallery-mobile'
                                [href]="item.images">
                                <img class='img' [src]="item.images"
                                    style="border-radius:5px;height: 140px; width: 100%;object-fit: cover" />
                                <div class="overlay">
                                    <i class="fas fa-plus icon"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row pt-3 ">
                <div class="col-12" *ngIf="tableLibrary.cached.length > Pagination.itemsPerPage">
                    <pagination [directionLinks]="false" class="d-flex justify-content-end"
                        [totalItems]="tableLibrary.cached.length" [itemsPerPage]="Pagination.itemsPerPage"
                        [maxSize]="Pagination.maxSize" (pageChanged)="Pagination.change($event)">
                    </pagination>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-md-block">
        <div class='row gallary-thumbs'>
            <div class='col-sm-6 col-md-3 p-2 1' *ngFor="let item of library.listVideo"
                [ngClass]="(library.number == 1 || library.number==0) ? 'd-flex':'d-none'">
                <div class='gallary-item video-container position-relative w-100'>
                    <div class='hover-bg w-100 h-100'
                        *ngIf="item.value.changingThisBreaksApplicationSecurity.length >0">
                        <div class='embed-responsive w-100 rounded'>
                            <img class="rounded border-0 h-100 w-100" [src]="item.images" style="object-fit: cover;">
                            <a data-fancybox class="venobox vbox-item position-absolute" [href]=" item.value">
                                <div class="icon-video ">
                                    <div class="icon-video-circle d-flex justify-content-center align-items-center ">
                                        <i class="fa fa-play text-white "></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-sm-6 col-md-3 p-2 2' *ngFor="let item of library.listImages"
                [ngClass]="(library.number == 2 || library.number == 0) ? 'd-flex':'d-none'">
                <div class='gallary-item' style="position: relative">
                    <div class='hover-bg' *ngIf="item.images && item.images.length > 0">
                        <a data-fancybox='gallery' [href]="item.images">
                            <img class='img' [src]="item.images" [alt]="item.name"
                                style="border-radius:5px; width: 100%;object-fit: cover" />
                            <div class="overlay">
                                <i class="fas fa-plus icon"></i>
                            </div>
                        </a>
                    </div>
                    <div class='hover-bg' *ngIf="!item.images || item.images.length <= 0">
                        <a data-fancybox='gallery' [href]="item.images">
                            <img class='img' onerror="this.src='../../../../assets/img/default.jpg'" [alt]="default"
                                [src]="item.images" style="border-radius:5px; width: 100%;object-fit: cover" />
                            <div class="overlay">
                                <i class="fas fa-plus icon"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>