@import 'src/style/mixins';

.box {
    border-radius: 8px;

    box-shadow: rgb(67 71 85 / 27%) 0px 0px 0.25em, rgb(90 125 188 / 5%) 0px 0.25em 1em;

    &:hover &-content {
        transform: translateY(-12%);
        &__btn {
            opacity: 1;
        }
        &__title {
            color: var(--color) !important;
        }
    }
    @include viewport-sm {
        &-content {
            transform: translateY(-12%);
            &__btn {
                opacity: 1 !important;
            }
        }
    }
    &__order {
        top: -50%;
        left: 10%;
        -webkit-text-stroke: 2px #fff;
        color: transparent;
        @include viewport-sm {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &-content {
        padding: 36px;
        @include viewport-sm {
            padding: 16px 36px;
        }
        transition: 0.33s;
        position: relative;
        z-index: 1;
        background-color: white;

        &__svg {
            position: absolute;
            bottom: 100%;
            left: 0;
            min-height: 57px;

            > svg {
                fill: var(--color);
            }
            @include viewport-sm {
                bottom: 99%;
            }
        }

        &__title {
            @include line-clamp(2);
            height: 48px;
            margin-bottom: 8px;
        }

        &__description {
            @include line-clamp(3);
            min-height: 72px;
            color: var(--colorText);
            @include viewport-sm {
                margin-bottom: 16px;
            }
        }

        &__btn {
            position: absolute;
            bottom: 0px;
            opacity: 0;
            padding: 36px 0 0 0;
            transition: 0.33s;
            &-icon {
                transition: 0.33s;
            }

            &:hover {
                color: var(--color);
            }
            &:hover &-icon {
                transform: translateX(6px);
            }
        }
    }
}
