<article class="box overflow-hidden bg-white">
    <div class="box-img overflow-hidden"
        [routerLink]="['/' + globals.language.getCode() + '/' + (item.parent_links ? item.parent_links : '') + '/' + item.parent_link + '/' + item.link]">
        <img class="img-fluid w-100 h-100" [src]="item.images" [alt]="item.name" />
    </div>

    <div class="box-content">
        <div class="box-content__svg w-100">
            <svg class="w-100 position-absolute" height="63px">
                <path fill-rule="evenodd"
                    d="M0.000,13.000 C0.000,13.000 72.000,77.250 159.000,59.000 C246.000,40.750 324.750,14.750 370.000,30.000 L370.000,19.000 C370.000,19.000 355.000,-4.750 164.000,47.000 C164.000,47.000 73.250,71.000 0.000,-0.000 L0.000,13.000 Z">
                </path>
            </svg>
            <svg class="w-100" height="57px">
                <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                    d="M0.000,0.000 C0.000,0.000 58.000,66.000 150.000,51.000 C150.000,51.000 325.000,1.667 370.000,21.000 L370.000,57.000 L0.000,57.000">
                </path>
            </svg>
        </div>

        <a class="box-content__title text-decoration-none text-body"
            [routerLink]="['/' + globals.language.getCode() + '/' + (item.parent_links ? item.parent_links : '') + '/' + item.parent_link + '/' + item.link]">
            <h5 class="text-capitalize font-weight-bold">
                {{ item.name }}
            </h5>
        </a>

        <p class="box-content__description mb-md-0 mb-3">
            {{ item.description }}
        </p>

        <a role="button" class="box-content__btn btn d-flex align-items-center px-0"
            [routerLink]="['/' + globals.language.getCode() + '/' + (item.parent_links ? item.parent_links : '') + '/' + item.parent_link + '/' + item.link]">
            <span class="text-uppercase font-weight-bold">
                Read more
            </span>

            <i class="box-content__btn-icon ml-2 font-weight-bold fal fa-angle-double-right"></i>
        </a>
    </div>
</article>