<form [formGroup]="fm"
      *ngIf="fm"
      (submit)='$event.stopPropagation()'>
    <div class="card">
        <div class="card-header text-white"
             style="background-color: #5ec5d8;">
            <strong>{{ 'products.information' | translate }}</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 col-12 pr-md-0">
                    <div class="form-group was-validated">
                        <label>{{ 'products.name' | translate }}</label>
                        <input name="name"
                               (keyup)="onChangeLink($event)"
                               formControlName="name"
                               type="text"
                               class="form-control"
                               placeholder="{{ 'products.name' | translate }}"
                               required />
                        <small style="color:red"
                               *ngIf="fm.get('name').invalid && fm.get('name').touched">{{
                            'message.required' | translate }}</small>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group was-validated">
                        <label>{{ 'lblLink' | translate }}</label>
                        <input name="link"
                               (keyup)="link._keyup($event)"
                               [(ngModel)]="fm.value.link"
                               formControlName="link"
                               type="text"
                               class="form-control"
                               required />
                        <small style="color:red"
                               *ngIf="fm.get('link').invalid && fm.get('link').touched">{{
                            'message.required' | translate }}</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-12 pr-md-0">
                    <div class="form-group was-validated">
                        <label>{{ 'products.group' | translate }}</label>
                        <select class="form-control"
                                name="page_id"
                                formControlName="page_id"
                                required>
                            <option value="">{{ 'products.chooseGroup' | translate }}</option>
                            <option *ngFor="let item of data.group"
                                    [value]="item.id">{{ item.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-12 pr-md-0">
                    <div class="form-group">
                        <label>{{ 'products.origin' | translate }}</label>
                        <select class="form-control"
                                name="origin_id"
                                formControlName="origin_id">
                            <option value="0">{{ 'products.chooseOrigin' | translate }}</option>
                            <option *ngFor="let origin of data.origin"
                                    [value]="origin.id">{{origin.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-12 pr-md-0">
                    <div class="form-group">
                        <label>{{ 'products.brand' | translate }}</label>
                        <select class="form-control"
                                name="brand_id"
                                formControlName="brand_id">
                            <option value="0">{{ 'products.chooseBrand' | translate }}</option>
                            <option *ngFor="let brand of data.brand"
                                    [value]="brand.id">{{brand.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-12 text-center">
                    <div class="form-group  mt-4 pt-3">
                        <span *ngFor="let item of listtype">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       [(ngModel)]="item.check"
                                       [value]="item.value"
                                       [checked]="item.check"
                                       [ngModelOptions]="{standalone: true}"
                                       name="type"
                                       [attr.id]="item.value">
                                <label class="custom-control-label"
                                       [attr.for]="item.value">{{ item.title |
                                    translate }}</label>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>{{ 'products.info' | translate }}</label>
                        <ckeditor name="info"
                                  [config]="globals.configCkeditor"
                                  formControlName="info"
                                  skin="moono-lisa"
                                  language="en"></ckeditor>
                    </div>
                    <div class="form-group">
                        <label>{{ 'products.detail' | translate }}</label>
                        <ckeditor name="detail"
                                  [config]="globals.configCkeditor"
                                  formControlName="detail"
                                  skin="moono-lisa"
                                  language="en"></ckeditor>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="float-left">
                <label class="lable-switch pull-left">
                    <div class="switch">
                        <input checked="checked"
                               formControlName="status"
                               type="checkbox"
                               name="status">
                        <span class="lever"></span>
                    </div>
                    <span ng-bind="lang.lbl_status_on"
                          class="ng-binding">{{ (fm.value.status == 1 ? 'status.on' :
                        'status.off') | translate }}</span>
                </label>
            </div>
            <div class="float-right">
                <button type="button"
                        [routerLink]="[(id && id !=0)?'../../get-list':'../get-list']"
                        class="btn btn-primary mr-2">{{ 'btn.back' | translate }}</button>
                <button (click)="onSubmit()"
                        [disabled]="!fm.valid"
                        [ngClass]=" fm.valid ? 'btn-success':'btn-default'"
                        class="btn "
                        type="button">{{ 'btn.save' | translate }}</button>
            </div>
        </div>
    </div>
</form>
<form [formGroup]="price"
      *ngIf="price"
      (submit)='$event.stopPropagation()'>
    <div class="card mt-3">
        <div class="card-header text-white"
             style="background-color: #5ec5d8;">
            <strong>{{ 'products.settingsPrice' | translate }}</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <div class="form-group">
                        <label>{{ 'products.PromotionPrice' | translate }}</label>
                        <input symbolNumber
                               name="price_buy"
                               formControlName="price_buy"
                               class="form-control" />
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                    <div class="form-group">
                        <label>{{ 'products.PriceSaleProduct' | translate }}</label>
                        <input formControlName="price_sale"
                               name="price_sale"
                               class="form-control"
                               symbolNumber />
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-md-6 col-12 mb-3">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="vatnull" name="vat" class="custom-control-input" formControlName="vat"
                            [value]="0">
                        <label class="custom-control-label" for="vatnull">{{ 'products.radNullVat' | translate }}</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="vatisset" name="vat" class="custom-control-input" formControlName="vat"
                            [value]="1">
                        <label class="custom-control-label"
                            for="vatisset">{{ 'products.radIssetVat' | translate }}</label>
                    </div>
                </div> -->
                <div class="col-md-6 col-12 mb-3"
                     *ngIf="validPrice">
                    <div class="text-danger"> Giá khuyến mãi phải nhỏ hơn giá </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="float-md-right">
                <button (click)="updatePrice()"
                        [disabled]="id && id > 0 ? false : true "
                        [ngClass]=" id && id > 0 ? 'btn-success':'btn-default'"
                        class="btn "
                        type="button">{{ 'btn.save' | translate }}</button>
            </div>
        </div>
    </div>
</form>
<div class="card mt-3">
    <div class="card-header text-white"
         style="background-color: #5ec5d8;">
        <strong>{{ 'products.settingsImages' | translate }}<small>: 500px x 500px</small></strong>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2 col-12 pr-md-0 text-center">
                <div class="form-group">

                    <div class="imagesThumb"
                         *ngIf="images">
                        <div *ngFor="let item of images.data; let i = index">
                            <img [src]="item.src"
                                 *ngIf="item.type==0 || item.type==1" />
                            <span (click)="images._change($event,item)"
                                  *ngIf="item.type==0 || item.type==1"
                                  class="change">
                                <i class="far fa-image"></i>
                            </span>
                            <span (click)="images._del(i)"
                                  *ngIf="item.type==0 || item.type==1"
                                  class="del">
                                <i class="fas fa-times"></i>
                            </span>
                            <span (click)="images._push($event)"
                                  *ngIf="item.type==2"
                                  class="add">
                                <i class="fa fa-plus"></i>
                            </span>
                        </div>
                        <input type="file"
                               (change)="images._onchange($event)">
                    </div>

                </div>
            </div>
            <div class="col-md-10 col-12">
                <div class="form-group">
                    <div class="imagesThumb"
                         *ngIf="listimages">
                        <div *ngFor="let item of listimages.data; let i = index">
                            <img [src]="item.src"
                                 *ngIf="item.type==0 || item.type==1" />
                            <span (click)="listimages._change($event,item)"
                                  *ngIf="item.type==0 || item.type==1"
                                  class="change">
                                <i class="far fa-image"></i>
                            </span>
                            <span (click)="listimages._del(i)"
                                  *ngIf="item.type==0 || item.type==1"
                                  class="del">
                                <i class="fas fa-times"></i>
                            </span>
                            <span (click)="listimages._push($event)"
                                  *ngIf="item.type==2"
                                  class="add">
                                <i class="fa fa-plus"></i>
                            </span>
                        </div>
                        <input type="file"
                               (change)="listimages._onchange($event)">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card-footer">
        <div class="float-md-right">
            <button (click)="productImages.process()"
                    [disabled]="id && id > 0 ? false : true "
                    [ngClass]=" id && id > 0 ? 'btn-success':'btn-default'"
                    class="btn "
                    type="button">{{ 'btn.save' | translate }}</button>
        </div>
    </div>
</div>
<form [formGroup]="seo"
      *ngIf="seo"
      (submit)='$event.stopPropagation()'>
    <div class="card mt-3">
        <div class="card-header text-white"
             style="background-color: #5ec5d8;">
            <strong>{{ 'settingsSeo' | translate }}</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label>{{ 'lblDescription' | translate }}</label>
                        <textarea name="description"
                                  rows="8"
                                  formControlName="description"
                                  class="form-control"
                                  cols="100"></textarea>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12">
                    <div class="form-group">
                        <label>{{ 'lblKeyword' | translate }}</label>
                        <input type="text"
                               (keyup)="tags._keyup($event)"
                               class="form-control"
                               name="keywords"
                               placeholder="{{ 'placeholderKeyword' | translate }}">
                        <div class="keywords mt-3"
                             *ngIf="tags.dataList">
                            <button type="button"
                                    class="btn btn-info mr-1 mt-1"
                                    *ngFor="let item of tags.dataList">{{ item}}
                                <span class="fas fa-times"
                                      (click)="tags._remove(item)"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="float-md-right">
                <button (click)="updateSeo()"
                        [disabled]="id && id > 0 ? false : true "
                        [ngClass]=" id && id > 0 ? 'btn-success':'btn-default'"
                        class="btn "
                        type="button">{{ 'btn.save' | translate }}</button>
            </div>
        </div>
    </div>
</form>